html {
    scroll-behavior: smooth;
}

.hover-class {
    transition: transform 0.3s ease;
}

.hover-class:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.article-list {
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 10px;
    position: sticky;
    top: 15%;
    margin-left: 20px;
}

.article-list ul {
    list-style-type: none;
    padding-left: 0;
}

.article-list hr {
    border: none;
    color: black;
    background-color: black;
    height: 1px;
}

.article-list a {
    text-decoration: none;
    color: black;
}

.article-list a:hover {
    text-decoration: underline
}

.article-list .side-menu {
    display: flex;
    align-items: center;
}

.article-list .side-menu img {
    margin-right: 20px;
    max-width: 100px; 
}

.article-list .side-menu p {
    margin: 0;
}

.section {
    scroll-margin-top: 200px;
}

@media (max-width: 768px) {
    .article-list {
        display: none;
    }
}