html {
    scroll-behavior: smooth;
}

.hover-class {
    transition: transform 0.3s ease;
}

.hover-class:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.article-list {
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 10px;
    margin-top: 15%;
    margin-left: 20px;
}

.article-list ul {
    list-style-type: none;
    padding-left: 0;
}

.article-list hr {
    border: none;
    color: black;
    background-color: black;
    height: 1px;
}

.article-list a {
    text-decoration: none;
    color: black;
}

.article-list a:hover {
    text-decoration: underline;
}

.article-list .side-menu {
    display: flex;
    align-items: center;
}

.article-list .side-menu img {
    margin-right: 20px;
    max-width: 100px; 
}

.article-list .side-menu p {
    margin: 0;
}

.section {
    scroll-margin-top: 200px;
    margin-top: 30px;
}

@media (max-width: 768px) {
    .article-list {
        display: none;
    }
}

figcaption {
    margin-top: 10px;
    font-size: 14px;
    /* font-style: italic; */
    color: #555;
    text-align: center;
}

.drop-cap::first-letter {
    font-size: 3em; /* Makes the first letter larger */
    font-weight: bold; /* Makes the letter bold */
    float: left; /* Aligns the letter to the left of the text */
    line-height: 1; /* Adjusts the line height */
    margin-right: 8px; /* Adds spacing between the first letter and the text */
    color: #333; /* Optional: Sets the color of the first letter */
}
