---
---
body{
    color: #0C2F00;
}
.card-width{
    background-color: white;
}
.main-head{
    position: relative;
    background: url('{{ site.baseurl }}/assets/imgs/ca_alt.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 100%;
    width: auto;
}

.card-hover:hover{
    background-color: #829413;
    color: white;
}

.page-title{
    background: white;
    border-radius: 5px;
}
@media(min-width:768px){
    .main-head{
        background-size: cover;
        background-position: right;
    }
}
@media(max-width:424px){
    .card-title{
        font-size: 1.7rem;
    }
}
