html {
    scroll-behavior: smooth;
}
body{
    background: url('../assets/imgs/back/landscape-3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    text-align: center;
    top: 0px;
    left: 0px;
    bottom: 0px;
    overflow: hidden;
}
.slide {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.wrapper {
    display: flex;
    flex-direction: row;
    width: 300vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    overflow: hidden;
}
.outer-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    overflow: hidden;
}
.overlay{
    background-position: fixed;
    width: 90vw;
    background-color: rgba(11, 14, 47, 0.8);
    overflow: hidden;
}

.dbg{
    background-color: rgba(11,14,47,0.8);
    border-radius: 15px;
}

.arrow{
    width:10vmax;
    overflow: hidden;
}
.arrow2{
    width:5vmax;
    overflow: hidden;
}
.no-back{
    background: none;
}
.text-red{
    color: red;
}
.text{
    
}
a.hvr{
    color:white;
}
a.hvr:hover{
    color:red;
    transition: 0.5s;
}
.raleway{
    font-family: Raleway;
    font-size: 10vmin;
    font-weight: bolder;
}

#esummit-landing-logo{
    max-height: 40vmin;
    overflow: hidden;
}