/* Navbar styling starts */

@import url("../css/fonts.css");


.container {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
  
  .container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

:root {
    --nav-link-color: #fff;
    --dropdown-link-color: #000;
    --nav-link-underline-color: #d43129;
    --nav-bg-init: rgba(0, 34, 64, 0.4);
    --nav-bg: rgba(0, 34, 64, 0.8);
}

::selection {
  background: rgba(40, 205, 193, 0.47);; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgba(40, 205, 193, 0.47); /* Gecko Browsers */
}

body {
    font-family: "BodyFont" !important;
}

h1,
h2,
h3 {
    font-family: "CustomHeading", sans-serif;
}

#navbar {
    background-color: var(--nav-bg-init);

    /* for when curves go out */
    -webkit-transition: 0.75s;
    transition: 0.75s;
}


#navbar-toggler {
    cursor: pointer;
}

@media (min-width: 992px) {
    .navbar-curves {
        background-color: var(--nav-bg) !important;
        background: url(../assets/imgs/lower-circle-nav.svg) 30% bottom/33%
                no-repeat,
            url(../assets/imgs/upper-circle-nav.svg) 98% top/33% no-repeat;
        -webkit-transition: 0.75s;
        transition: 0.75s;
    }
    h4{
        font-size: 1.5em; 
    }

}

/* Positioning curves to look good on high-res displays */
@media (min-width: 1500px) {
    .navbar-curves {
        background-color: var(--nav-bg) !important;
        background: url(../assets/imgs/lower-circle-nav.svg) 45% bottom/20%
                no-repeat,
            url(../assets/imgs/upper-circle-nav.svg) 95% top/20% no-repeat;
        -webkit-transition: 0.75s;
        transition: 0.75s;
    }
    h4{
        font-size: 2em; 
    }
}

#navbarSupportedContent ul li.nav-item {
    position: relative;
    text-decoration: none;
    font-size: 1.25rem;
    padding: 0 30px;
}

/* Animated underline below links */
#navbarSupportedContent ul li.nav-item a,
#navbarSupportedContent ul li.nav-item:hover {
    color: var(--nav-link-color);
}

/* 2 rules are defined for a normal fade-in but a faster fade-out */
#navbarSupportedContent ul li.nav-item:before {
    content: "";
    position: absolute;
    width: 100%;
    max-width: 200px;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--nav-link-underline-color);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

/* for a faster fade-out */
#navbarSupportedContent ul li.nav-item:before:hover {
    -webkit-transition: all 0.1s ease-in-out 0s;
    transition: all 0.1s ease-in-out 0s;
}

#navbarSupportedContent ul li.nav-item:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* using !important since the selector would've been too specific
 * selector: #navbarSupportedContent ul li.dropdown ul.dropdown-menu li a
 */
nav .dropdown-item {
    color: var(--dropdown-link-color) !important;
}

nav .dropdown-menu {
    background: rgba(255, 255, 255, 0.8);
    border-top: 0;
    border-radius: 10px;
    width: 100%;
    margin-top: 2rem;

    /* overriding bootstrap rule */
    padding-top: 0 !important;
}

nav .dropdown-menu img {
    width: 100%;
    max-width: 150px;
}

nav .dropdown-menu .dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0);
    font-weight: bold;
}

nav .dropdown-menu .img-list-item {
    text-align: center;
}

nav .dropdown-menu .sublinks {
    padding-top: 2rem;
}

nav .dropdown-triangle {
    margin: 0 auto;

    /* the 21.7px came from the triangle height, source given below
     *
     * the 1px is simply an offset
     */
    margin-top: calc(-21.7px + 1px);

    /* the following was generated from http://apps.eky.hk/css-triangle-generator */
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12.5px 21.7px 12.5px;
    border-color: transparent transparent rgba(255, 255, 255, 0.8) transparent;
}

.nav-link-bold {
    font-weight: bold;
    font-size: 1.5rem;
    color: #084880;
}

.nav-link-bold:hover {
    font-weight: bold;
    color: rgba(0, 34, 64, 1);
}

.nav-link-disabled {
    color: grey;
    font-size: 1.5rem;
}

.nav-link-disabled:hover {
    color: grey;
    font-size: 1.5rem;
}

/* adapted from https://codepen.io/bootpen/pen/jbbaRa */
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.right .modal-body {
    padding: 15px 15px 80px;
}

.modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
    right: 0;
}

/* Navbar styling ends */




footer {
    background-color: black;
    padding: 20px 0;
    text-align: center;
}

/* Style the icon links */
.social-icons a {
    color: red;
    font-size: 30px;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: lightskyblue;
}

.video{
    aspect-ratio: 3/10;
}


/* Form styling */


.btn {
    display: inline-block;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1.1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .btn:hover, .btn:focus {
    text-decoration: none;
  }
  
  .btn:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  
  
  a.btn.disabled,
  fieldset:disabled a.btn {
    pointer-events: none;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    color: #fff;
    background-color: #2bc750;
    border-color: #0c437d;
  }
  
  .btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
  }


  

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(1, 1, 1);
    font-weight: semi-bold;
    font-size:1.2em;
    align-items: center;
    text-align: center;
    opacity: 100; /* Firefox */
  }


  /* Body section css */
.speaker-content{
  font-size:1.3em; 
  line-height: 1.3em;
}


.speaker-image{
  max-width: 80%;  
  border-radius:4%; 
  aspect-ratio: 1/1;
}