/* BEGIN CUSTOM DECLARATIONS */
@font-face {
    font-family: "Bebas Neue";
    src: url("../assets/fonts/BebasNeueRegular.ttf");
}

@font-face {
    font-family: "Norwester";
    src: url("../assets/fonts/norwester.tff"), url("../fonts/norwester.eot");
}

/* @import url('https://fonts.googleapis.com/css?family=Raleway:400,500'); */

@font-face {
    font-family: "Raleway";
    src: url("../assets/fonts/raleway/Raleway-Medium.ttf"),
        url("../assets/fonts/raleway/Raleway-Regular.ttf");
}

.bebas {
    font-family: 'Bebas Neue';
    font-weight: lighter;
}

/* .raleway {
    font-family: 'Raleway';
} */

.norwester {
    font-family: 'Norwester';
}

.verdana {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* END CUSTOM DECLARATIONS */
a{
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
    font-size: 2vh;
}

/* #back-vid {
    height: 100vh;
    width:100%;
    overflow: hidden;
} */

#landing {
    /* background: url('../assets/back/fail_back.gif'); */
    background: url('../assets/back/fback.png');
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center;
    height: 100vh;
    width:100%;
    overflow: hidden;
    overflow: hidden;
}

.active {
    background-color: #ef2028;
    color: #1b1b1d;
}

.wrapper {
    display: flex;
    width:100%;
    align-items: stretch;
}

#sidebar {
    width: 25vw;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    z-index: 999;
    background: #1b1b1d;
    color: #1b1b1d;
    transition: all 0.3s;
}
#sidebar.active{
    margin-left:-25vw;
}
#sidebar .sidebar-header {
    padding: 20px;
    background: #1b1b1d;
    color: #ef2028;
}

#sidebar ul.components {
    padding: 20px 0px;
    /* border-bottom: 1px solid #;  */
}

#sidebar ul p {
    color: #ef2028;
    padding: 10px;
}
#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #ef2028;
    background: #1b1b1d;
}
#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #1b1b1d;
    background: #ef2028;
}

#content {
    margin-left: 25vw;
    transition: all 0.3s;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #1b1b1d;
}

a[data-toggle="collapse"] {
    position: relative;
}
.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#sidebar.active + #navbar + #content{
    margin-left: 10vw;
    margin-right: 10vw;
}
#sidebar.active + #navbar{
    margin-left: 0vw;
}

#navbar {
    /* height:10vh;
    margin-left: 25vw; */
    position: fixed;
    transition: all 0.3s;
    z-index: 100;
}

.row.speaker {
    justify-content: center;
    align-items: center;
}

.row.speaker > div:first-child {
    text-align: center;
}



@media (max-width:768px) {

    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }

    html {
        font-size: 1rem;
    }

    #sidebar {
        width: 75vw;
        position: fixed;
        top: 0;
        left: 0;
        min-height: 100vh;
        z-index: 999;
        background: #1b1b1d;
        color: #ef2028;
        transition: all 0.3s;
    }
    #sidebar.active {
        margin-left: -75vw;
    }
    
    #sidebar.active + #navbar + #content {
        margin-left: 10vw;
    }
    #sidebar.active + #navbar{
        margin-left: 0vw;
    }
    #navbar {
        margin-left: 75vw;
        z-index: 100;
    }
}


@media (max-width:768px) and (orientation: portrait) {

    html {
        font-size: 0.8rem;
    }
}


.section{
    min-height: 100vh;
    display: flex;
    align-items: center;
}
@media (min-width:769px){
    .section.container-fluid {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

body {
    font-family: 'Raleway';
}

h1 {
    font-size: 8vh;
    color:#ef2028;
    padding: 4px;
    font-family: 'Bebas Neue';
}
h2 {
    font-size: 4vh;
    color: #ef2028;
}
h3 {
    font-size: 2vh;
    color: #ef2028;
    padding: 4px;
}

.btn {
    background: #1b1b1d;
    color: #ef2028;
}
.speaker-image{
    width: 100%;
    height: auto;
    position: center;
}

.collapse.list-unstyled {
    font-size: 0.9rem;
}

.container-fluid {
    min-height: 100vh;
}

#helper {
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}
