html,
body {
    height: 100%;
    width: 100%;
}

.push-upper {
    padding-top: 10%;
}

.push-bottom {
    padding-bottom: 10%;
}

.bg-blue {
    background-color: #002240;
}

.curvy-footer svg {
    background-position: center;
    background-size: cover;
}

footer h3 {
    color: #fff;
}

footer a {
    color: #a7d3ff;
}

footer a:hover {
    color: #a7fffd;
    text-decoration: none;
}
