:root {
    --nav-link-color: #000;
    --nav-link-underline-color: #f00;
}

/* none of the flex properties helped align the nav contents to the right
 also refer https://stackoverflow.com/questions/22429003/how-to-right-align-flex-item */
#navbarSupportedContent ul {
    position: absolute;
    right: 0;
}

/* Animated underline below links */
#navbarSupportedContent ul li.nav-item {
    position: relative;
    text-decoration: none;
    color: var(--nav-link-color);
}

#navbarSupportedContent ul li.nav-item:hover {
    color: var(--nav-link-color);
}

#navbarSupportedContent ul li.nav-item:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--nav-link-underline-color);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

#navbarSupportedContent ul li.nav-item:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* Fade-in/-out bootstrap dropdowns */
.dropdown-menu.fade {
    display: block;
    opacity: 0;
    pointer-events: none;
}
.show > .dropdown-menu.fade {
    pointer-events: auto;
    opacity: 1;
}
