@import url("../css/fonts.css");

:root {
    --nav-link-color: #fff;
    --dropdown-link-color: #000;
    --nav-link-underline-color: #d43129;
    --nav-bg-init: rgba(0, 34, 64, 0.4);
    --nav-bg: rgba(0, 34, 64, 0.8);
}

body {
    font-family: "BodyFont" !important;
}

h1,
h2,
h3 {
    font-family: "CustomHeading", sans-serif;
}

#navbar {
    background-color: var(--nav-bg-init);

    /* for when curves go out */
    -webkit-transition: 0.75s;
    transition: 0.75s;
}

#navbar-toggler {
    cursor: pointer;
}

@media (min-width: 992px) {
    .navbar-curves {
        background-color: var(--nav-bg) !important;
        background: url(../assets/imgs/lower-circle-nav.svg) 30% bottom/33%
                no-repeat,
            url(../assets/imgs/upper-circle-nav.svg) 98% top/33% no-repeat;
        -webkit-transition: 0.75s;
        transition: 0.75s;
    }
}

/* Positioning curves to look good on high-res displays */
@media (min-width: 1500px) {
    .navbar-curves {
        background-color: var(--nav-bg) !important;
        background: url(../assets/imgs/lower-circle-nav.svg) 45% bottom/20%
                no-repeat,
            url(../assets/imgs/upper-circle-nav.svg) 95% top/20% no-repeat;
        -webkit-transition: 0.75s;
        transition: 0.75s;
    }
}

#navbarSupportedContent ul li.nav-item {
    position: relative;
    text-decoration: none;
    font-size: 1.25rem;
    padding: 0 30px;
}

/* Animated underline below links */
#navbarSupportedContent ul li.nav-item a,
#navbarSupportedContent ul li.nav-item:hover {
    color: var(--nav-link-color);
}

/* 2 rules are defined for a normal fade-in but a faster fade-out */
#navbarSupportedContent ul li.nav-item:before {
    content: "";
    position: absolute;
    width: 100%;
    max-width: 200px;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--nav-link-underline-color);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

/* for a faster fade-out */
#navbarSupportedContent ul li.nav-item:before:hover {
    -webkit-transition: all 0.1s ease-in-out 0s;
    transition: all 0.1s ease-in-out 0s;
}

#navbarSupportedContent ul li.nav-item:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* using !important since the selector would've been too specific
 * selector: #navbarSupportedContent ul li.dropdown ul.dropdown-menu li a
 */
nav .dropdown-item {
    color: var(--dropdown-link-color) !important;
}

nav .dropdown-menu {
    background: rgba(255, 255, 255, 0.8);
    border-top: 0;
    border-radius: 10px;
    width: 100%;
    margin-top: 2rem;

    /* overriding bootstrap rule */
    padding-top: 0 !important;
}

nav .dropdown-menu img {
    width: 100%;
    max-width: 150px;
}

nav .dropdown-menu .dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0);
    font-weight: bold;
}

nav .dropdown-menu .img-list-item {
    text-align: center;
}

nav .dropdown-menu .sublinks {
    padding-top: 2rem;
}

nav .dropdown-triangle {
    margin: 0 auto;

    /* the 21.7px came from the triangle height, source given below
     *
     * the 1px is simply an offset
     */
    margin-top: calc(-21.7px + 1px);

    /* the following was generated from http://apps.eky.hk/css-triangle-generator */
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12.5px 21.7px 12.5px;
    border-color: transparent transparent rgba(255, 255, 255, 0.8) transparent;
}

@keyframes slide-left {
    0% {
        left: 80vw;
    }
    85% {
        left: -10vw;
    }
    100% {
        left: 0;
    }
}

.nav-link-bold {
    font-weight: bold;
    font-size: 1.5rem;
    color: #084880;
}

.nav-link-bold:hover {
    font-weight: bold;
    color: rgba(0, 34, 64, 1);
}

.nav-link-disabled {
    color: grey;
    font-size: 1.5rem;
}

.nav-link-disabled:hover {
    color: grey;
    font-size: 1.5rem;
}

/* adapted from https://codepen.io/bootpen/pen/jbbaRa */
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.right .modal-body {
    padding: 15px 15px 80px;
}

.modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
    right: 0;
}
