.rounded-card {
    border-radius: 1rem !important;
}

.card-width {
    width: 60%;
}

@media (max-width: 768px) {
    .card-width {
        width: 95%;
    }
}

.card-push-sides {
    padding: 2rem;
}
