.card {
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

.palette-bg-green {
    background-color: #99E7E2;
}

.palette-bg-red {
    background-color: #dd5e58;
}

.palette-bg-blue {
    background-color: #3b6fc1;
}

.palette-bg-grey {
    background-color: #ebebeb;
}