html {
    scroll-behavior: smooth;
}

.card {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.card-header {
    border-radius: 0px;
}

.palette-bg-green {
    background-color: #99e7e2;
}

.palette-bg-red {
    background-color: #dd5e58;
}

.palette-bg-blue {
    background-color: #3b6fc1;
}

.palette-bg-grey {
    background-color: #ebebeb;
}

.hover-class {
    transition: transform 0.3s ease;
}

.hover-class:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.article-list {
    border: 2px solid black;
    background-color: #dd5e58;
    padding: 10px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    position: sticky;
    top: 15%;
    margin-left: 20px;
}

.article-list a {
    text-decoration: none;
    color: black;
}

.article-list a:hover {
    text-decoration: underline
}

.section {
    scroll-margin-top: 200px;
}

@media (max-width: 768px) {
    .article-list {
        display: none;
    }
}