@import url("fonts.css");

.main-head {
    position: relative;
    background: url("../assets/imgs/team.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;

    height: 100%;
    width: auto;
}

.palette-bg-green {
    background-color: #4db6ac;
}

.palette-bg-red {
    background-color: #dd5e58;
}

.palette-bg-blue {
    background-color: #3b6fc1;
}

.palette-bg-grey {
    background-color: #ebebeb;
}

.palette-bg-white{
    background-color: #FFF;
}

.palette-bg-blue-faded {
    background-color: #D2E1F5;
}

.blue-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.blue-wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 64px;
}

.blue-wave .shape-fill {
    fill: #D2E1F5;
}

.white-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.white-wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 64px;
    transform: rotateY(180deg);
}

.white-wave .shape-fill {
    fill: #FFFFFF;
}

.team{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.team-header{
    width: 311px;
    height: 311px;
    position: relative;
}

.team-name{
    width: 311px;
    height: 311px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "BodyFont";
    font-size: 2.5rem;
    font-weight: 700;
}

.team-section{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: max-content;
    padding: 0 40px 80px 40px;
}

.team-content{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.team-member{
    width: 244px;
    height: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team-member img{
    width: 199px;
    height: 199px;
    border-radius: 50%;
    position: absolute;
    top: 22.5px;
    left: 22.5px;
    z-index: 0;
}

.team-member .caption {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    font-weight: 700;
    font-size: 1.3rem;
    text-align: center;
    color: #000; 
    text-shadow: 
        -1px -1px 0 #fff,  
         1px -1px 0 #fff,
        -1px  1px 0 #fff,
         1px  1px 0 #fff; 
}

.team-heading-white{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: max-content;
}

.team-heading-blue{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: max-content;
}

.team-header{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.team-members{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
    width: auto;
    gap: 50px 200px;
}