---
layout: page
headerImg: header.svg
title: E-Cell IIIT-H
cardTitle: Demystifying Entrepreneurship
cardContent: At E-Cell, we aim to inspire university students to start their own ventures and dispel the many fears that surround starting one's own company.
---

<link type="text/css" href="{{site.baseurl}}/css/index.css" rel="stylesheet" />

<!-- {% include banner.html %} -->

<div class="container p-5">
	<div class="row">
		<div class="col text-center p-5">
			<h1>About Us</h1>
		</div>
	</div>
	<div class="row">
		<div class="col col-lg-8 col-md-10 col-xs-11 mx-auto text-justified">
			<p>
				Entrepreneurship Cell, IIIT Hyderabad is a non-profit organization run by students, and has been established with the objective of creating, manifesting and guiding the entrepreneurial spirit in the student community and to encourage them to be successful entrepreneurs. We want to build an ecosystem where networking and knowledge sharing can happen. To this end, we conduct several events, seminars and workshops both for students of and beyond our college for the purpose of cultivating this entrepreneurial spirit.
			</p>
		</div>
	</div>
</div>

<div class="container pt-2 pb-5">
	<div class="row">
		<div class="col text-center">
			<h1>Flagship Events</h1>
		</div>
	</div>
</div>

<div class="container-fluid tiles-container col-sm-12 col-md-11">
    <div class="row tile-row tile-row-left row-megathon">
        <div class="para col-md-8 para-left">
            <h1 class="m-5 para-head">Megathon</h1>
            <p class="m-5 para-text">
                Started in 2016, Megathon is an ambitious hackathon organised by E-Cell IIIT Hyderabad with
                the intention of promoting the spirit of entrepreneurship and development among the student community in and around Hyderabad.
                Every edition has been a growing success with the participation steadily increasing. In 2018, we had around 1000 participants.
            </p>
            <div class="cta-btn-container">
                <a href="https://megathon.in"><button class="m-5 btn palette-bg-green cta-btn">Explore</button></a>
            </div>
        </div>
        <div class="image col-md-4 image-right">
            <img class="img-fluid megathon-image" src="{{ site.baseurl }}/assets/imgs/eventsimages/megathon-carousel-1.jpg" />
        </div>
        <div class="stats-display stats-display-megathon">
            <h1>200+ ideas</h1>
            <h1>1000+ participants</h1>
        </div>
    </div>

    <div class="row tile-row tile-row-right row-fail">
        <div class="image col-md-4 image-left">
            <img class="img-fluid fail-image" src="{{ site.baseurl }}/assets/imgs/eventsimages/fail_2.jpg" />
        </div>
        <div class="para col-md-8 para-right">
            <h1 class="m-5 para-head">Fail!</h1>
            <p class="m-5 para-text">
                Fail is a celebration of the moments we don’t generally share: the moments of failure. The concept behind it is to inspire resilience by sharing the failure stories of celebrities. Started at the Massachusetts Institute of Technology, Fail was organised in Asia for the first time by E-Cell IIIT Hyderabad in March 2019. The speaker panel for the event consists of some of the most eminent and accomplished personalities in their respective fields. The event has witnessed a large audience in its past 2 iterations.
            </p>
            <div class="cta-btn-container">
                <a href="{{site.baseurl}}/fail"><button class="m-5 btn palette-bg-red cta-btn">Explore</button></a>
            </div>
        </div>
        <div class="stats-display stats-display-fail">
            <h1>300+ attendees</h1>
            <h1>&nbsp;Full auditorium!</h1>
        </div>
    </div>

    <div class="row tile-row tile-row-left row-startup">
        <div class="para col-md-8 para-left">
            <h1 class="m-5 para-head">Startup Aid</h1>
            <p class="m-5 para-text">
                Startup Aid is a 4-sprint program aimed at helping IIIT-H students take their startup idea from paper to the market. The program connects students with experts in the field who provide them with valuable insights and help them structure their idea. After succesful completion of the 4 sprints, students can pitch their idea in front of CIE and recieve funding. The first iteration of the program saw 5 ideas getting incubated.
            </p>
            <div class="cta-btn-container">
                <a href="{{site.baseurl}}/startup-aid">
                    <button class="m-5 btn palette-bg-blue cta-btn">Explore</button>
                </a>
            </div>
        </div>
        <div class="image col-md-4 image-right">
            <img class="img-fluid startup-image" src="{{ site.baseurl }}/assets/imgs/eventsimages/startup_aid.jpg" />
        </div>
        <div class="stats-display stats-display-startup txt-green">
            <h1>5 Teams Incubated!</h1>
            <h1>130+ Team Applicants</h1>
        </div>
    </div>

    <!-- this is necessary to keep container height contain all its rows -->
    <div style="clear: both;"></div>
</div>

<!-- Contact Form by Jivitesh copied from contact-form-2 -->

<div class="container-fluid contact-us mt-5">
    <div class="row">
        <div class="col text-center p-5">
            <h1>Contact Us</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-11 backbox">
            <form action="https://formspree.io/abhigyan.ghosh.research@gmail.com" method="POST">
            <div class="form-group">
                <label for="inp-name">Name</label>
                <input type="text" name="name" class="form-control" id="inp-name" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="inp-email">Email address</label>
                <input type="email" name="_replyto" class="form-control" id="inp-email" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="inp-subject">Subject</label>
                <input name="subject" type="text" class="form-control" id="inp-subject" placeholder="Subject">
            </div>

            <div class="form-group">
                <label for="inp-message">Message</label>
                <textarea name="message" class="form-control" id="inp-message" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" value="send">Submit</button>
            <input type="hidden" name="_cc" value="ecell@iiit.ac.in" />
                <input type="hidden" name="_next" value="{{site.baseurl}}"/>
        </form>
        </div>
    </div>
</div>


<div id="testimonial-parent">
    <!-- id is necessary for carousel controls to work -->
    <div id="testimonial-container" class="testimonial-container carousel slide" data-ride="carousel">
        {% assign moniallist = site.data.testimonials %}
        <ol class="carousel-indicators">
            {% assign num = 0 %}
            {% for testimonial in moniallist %}
                {% assign class = nil %}
                {% if num == 0 %}
                    {% assign class = "active" %}
                {% endif %}
                <li data-target="#testimonial-container" data-slide-to="{{num}}" class="{{class}}"></li>
                {% assign num = num | plus:1 %}
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% assign num = 0 %}
            {% for testimonial in moniallist %}
                {% assign class = nil %}
                {% if num == 0 %}
                    {% assign class = "active" %}
                {% endif %}
                <div class="testimonial carousel-item {{class}}">
                    <div class="text">
                        {{testimonial.text}}
                    </div>
                    <div class="person-info">
                        <div class="profilepic">
                            <img src="assets/imgs/{{ testimonial.profilepic }}" alt="Profile picture of {{ testimonial.name }}">
                        </div>
                        <div class="name">{{testimonial.name}}</div>
                        <div class="designation">{{testimonial.designation}}</div>
                    </div>
                </div>
                {% assign num = num | plus:1 %}
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#testimonial-container" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#testimonial-container" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<script>
    ScrollReveal().reveal('.row',{delay:200,easing:'ease-in-out'});
    ScrollReveal().reveal('.para',{delay:250,easing:'ease-in-out'});
    ScrollReveal().reveal('.image',{delay:300,easing:'ease-in-out'});
    ScrollReveal().reveal('.main-head',{delay:200,easing:'ease-in-out'});
    ScrollReveal().reveal('.card',{delay:250,easing:'ease-in-out'});
    ScrollReveal().reveal('#testimonial-parent',{delay: 250, easing: 'ease-in-out'})

</script>
