---
layout: page
headerImg: header.svg
title: E-Cell IIIT-H
cardTitle: Demystifying Entrepreneurship
cardContent: Supporting Text is an essential part of a website. This part is crucial to make the title 'Demystifying Entrepreneurship' click with an audience. Do not screw it up :)
---

<link type="text/css" href="../css/index.css" rel="stylesheet" />

<div class="container-fluid tiles-container col-sm-12 col-md-11">
    <div class="row tile-row tile-row-left row-megathon">
        <div class="para para-left">
            <h1 class="m-5 para-head">Megathon</h1>
            <p class="m-5 para-text">
                In its 3rd Edition Megathon went under a rigorous transformation. This year we decided to make Megathon accessible
                beyond Hyderabad to the whole country. For this we are proud to introduce to you the Online Round of Megathon,
                which will help contribute ideas for Women Safety. Continuing the 24 hour Onsite Hackathon where students prototype
                and build their business model this year too, we are also bringing Road to Megathon- a workshop to help develop.
            </p>
            <button class="m-5 btn btn-primary cta-btn">Explore</button>
        </div>
        <div class="image image-right">
            <img class="img-fluid megathon-image" src="/assets/imgs/dummy.png" />
        </div>
        <div class="stats-display stats-display-megathon">
            <h1>6000+ ideas</h1>
            <h1>3000+ participants</h1>
        </div>
    </div>

    <div class="row tile-row tile-row-right row-fail">
        <div class="image image-left">
            <img class="img-fluid fail-image" src="/assets/imgs/dummy.png" />
        </div>
        <div class="para para-right">
            <h1 class="m-5 para-head">Fail!</h1>
            <p class="m-5 para-text">
                FAIL! is aimed at facing the moments of failure head-on, sharing them and most importantly improving by them.
                It is a celebration of moments we don’t generally share. Come listen to the failure stories of youth icons from
                all over India as they share their struggles on their journey to success. Ajay Kumar Siotra, Pankhuri Gidwani, Aditi Avasthi
                Dutee Chand, Viiveck Verma.
            </p>
            <button class="m-5 btn btn-primary cta-btn">Explore</button>
        </div>
        <div class="stats-display stats-display-fail">
            <h1>300+ attendees</h1>
            <h1>Full auditorium!</h1>
        </div>
    </div>

    <div class="row tile-row tile-row-left row-startup">
        <div class="para para-left">
            <h1 class="m-5 para-head">Startup Aid</h1>
            <p class="m-5 para-text">
                A 5-week program aimed at IIIT-H students to help structure their startup idea by connecting them with experts in
                the field and will leave the idea ready for incubation pitches. In the end you can pitch to CIE and receive funding.
                The program has no prerequisites and is aimed at IIIT-H students. Just carry an idea and walk into the room. It's free.
                Incubation has never been easier. There is also an all-paid-for Singapore trip for selected people who finish the 5-week
                program.
            </p>
            <button class="m-5 btn btn-primary cta-btn">Explore</button>
        </div>
        <div class="image image-right">
            <img class="img-fluid startup-image" src="/assets/imgs/dummy.png" />
        </div>
    </div>

    <!-- this is necessary to keep container height contain all its rows -->
    <div style="clear: both;"></div>
</div>

<div id="testimonial-container" class="testimonial-container carousel slide" data-ride="carousel">
    {% assign moniallist = site.data.testimonials %}
    <ol class="carousel-indicators">
        {% assign num = 0 %}
        {% for testimonial in moniallist %}
            {% assign class = nil %}
            {% if num == 0 %}
                {% assign class = "active" %}
            {% endif %}
            <li data-target="#testimonial-container" data-slide-to="{{num}}" class="{{class}}"></li>
            {% assign num = num | plus:1 %}
        {% endfor %}
    </ol>
    <div class="carousel-inner">
        {% assign num = 0 %}
        {% for testimonial in moniallist %}
            {% assign class = nil %}
            {% if num == 0 %}
                {% assign class = "active" %}
            {% endif %}
            <div class="testimonial carousel-item {{class}}">
                <div class="text">
                    {{testimonial.text}}
                </div>
                <div class="person-info">
                    <div class="profilepic">
                        <img src="assets/imgs/{{ testimonial.profilepic }}" alt="Profile picture of {{ testimonial.name }}">
                    </div>
                    <div class="name">{{testimonial.name}}</div>
                    <div class="designation">{{testimonial.designation}}</div>
                </div>
            </div>
            {% assign num = num | plus:1 %}
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#testimonial-container" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#testimonial-container" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>