<link rel="stylesheet" href="/css/banner.css">

<div id="banner" class="rounded-card mx-auto container">
    <i id="close-button" class="fa fa-times"></i>
    <div class="banner-content">
        <h3 class="font-weight-bold px-2 banner-heading text-center" style="font-family: Arial;">
            Registrations now open for Startup Aid 2020!
        </h3>

        <h4 class="px-2 banner-heading text-center">
            Get a chance to win 20K!
        </h4>
        <h4 class="banner-heading text-center">
            <a class="btn ticket-btn" href="/startup-aid/#register">
                Apply now!
            </a>
        </h4>
        <!--
        <div class="ticket-parent">
            <a class="btn ticket-btn" href="https://www.meraevents.com/event/megathon-2019" target="_blank">
                Mera Events
            </a>
        </div>
        -->
    </div>
</div>

<script>

    window.addEventListener("load", function(){
        $("#close-button").click(() => {
            $("#banner").hide();
        });
    });
</script>
