<link rel="stylesheet" href="{{ site.baseurl }}/css/banner.css">

<div id="banner" class="rounded-card mx-auto container">
    <i id="close-button" class="fa fa-times"></i>
    <div class="banner-content">
        <h3 class="font-weight-bold px-2 banner-heading text-center">
            Registrations now open for Startup Aid 2020!
        </h3>
        <!--
        <h4 class="px-2 banner-heading text-center">
            Early bird offer ends on 16<sup>th</sup> September.
        </h4>
        -->
        <h4 class="banner-heading text-center">
            <a class="btn ticket-btn" href="/startup-aid/">
                Apply now!
            </a>
        </h4>
        <!--
        <div class="ticket-parent">
            <a class="btn ticket-btn" href="https://www.meraevents.com/event/megathon-2019" target="_blank">
                Mera Events
            </a>
        </div>
        -->
    </div>
</div>

<script>
    $("#close-button").click(() => {
        $("#banner").hide();
    })
</script>
