<link rel="stylesheet" href="{{ site.baseurl }}/css/banner.css">

<div id="banner" class="rounded-card mx-auto container">
    <i id="close-button" class="fa fa-times"></i>
    <div class="banner-content">
        <h3 class="font-weight-bold px-2 banner-heading text-center">
            Registrations now open!
        </h3>
        <h4 class="px-2 banner-heading text-center">
            Early bird offer ends on 16<sup>th</sup> September.
        </h4>
        <h4 class="banner-heading text-center">
            Apply now via our official ticketing partner:
        </h4>
        <div class="ticket-parent">
            <a class="btn ticket-btn" href="https://www.thecollegefever.com/events/megathon-2019-onsite" target="_blank">
                The College Fever
            </a>
            <!-- UNCOMMENT WHEN STUMAGS IS UP AND RUNNING, AND ADD AN 'S' UP THERE -->
            <!-- <a class="btn ticket-btn" href="https://www.stumagz.com/megathon-2019-onsite/" target="_blank">
                Stumagz
            </a> -->
        </div>
    </div>
</div>

<script>
    $("#close-button").click(() => {
        $("#banner").hide();
    })
</script>
