<style>
  .main-head {
    position: relative;
    background: url("{{ site.baseurl }}/assets/imgs/summerup.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 100%;
    width: auto;
  }
</style>

<header class="w-100 h-100">
  <div class="container-fluid h-100 main-head">
    <div class="row h-100">
      <div class="col text-center d-flex align-items-center justify-content-center">
        <div class="container-fluid">
          <div class="row">
            <div class="col text-white">
              <h1>{{ include.headertext }}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<br><br>

<!--header class="w-100 h-75">
    <div class="container-fluid h-75 main-head palette-bg-{{ include.color }}">
      <div class="row h-100">
        <div class="col text-center d-flex align-items-center justify-content-center">
          <div class="container-fluid">
            <div class="row">
              <div class="col text-white">
                <h1>{{ include.headertext }}</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header-->