<link rel="stylesheet" href="../css/footer.css" />
<footer>
    <div class="curvy-footer">
        <svg
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 1920 491.84"
            style="enable-background:new 0 0 1920 491.84;"
            xml:space="preserve"
        >
            <style type="text/css">
                .st0 {
                    fill: #d43129;
                }
                .st1 {
                    fill: #1bbfb3;
                }
                .st2 {
                    fill: #002240;
                }
            </style>
            <path
                id="XMLID_2_"
                class="st0"
                d="M-2.87,265.89c0,0,547.06-423.4,980.48-92.82S2163.89-35.94,2163.89-35.94l-1.03,439.53
			L-5.43,403.86L-2.87,265.89z"
            />
            <path
                id="XMLID_1_"
                class="st1"
                d="M0.5,353.87c0,0,547.06-423.4,980.48-92.82S2167.25,52.04,2167.25,52.04l-1.03,439.53
			L-2.06,491.84L0.5,353.87z"
            />
            <path
                id="XMLID_3_"
                class="st2"
                d="M-1.54,463.85c0,0,547.06-423.4,980.48-92.82s1186.27-209.01,1186.27-209.01l-1.03,439.53
			L-4.1,601.82L-1.54,463.85z"
            />
        </svg>
    </div>

    <div class="container-fluid bg-blue push-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 push-upper">
                    <img class="img-responsive" src="/assets/imgs/ecell-logo.png" alt="E-Cell Logo" />

                    <p class="mx-auto text-muted">
                        2019. Entrepreneurship Cell of International Institute of Information Technology, Hyderabad.
                    </p>
                </div>

                <div class="col-12 col-sm-6 col-md-3 push-upper">
                    <h3>About</h3>
                    <a class="d-block" href="#">Mission</a>
                    <a class="d-block" href="#">Mission</a>
                    <a class="d-block" href="#">Mission</a>
                </div>

                <div class="col-12 col-sm-6 col-md-3 push-upper">
                    <h3>Work</h3>
                    <a class="d-block" href="#">Mission</a>
                    <a class="d-block" href="#">Mission</a>
                    <a class="d-block" href="#">Mission</a>
                </div>

                <div class="col-12 col-md-2 push-upper">
                    <h3>Team</h3>
                    <a class="d-block" href="#">Mission</a>
                    <a class="d-block" href="#">Mission</a>
                    <a class="d-block" href="#">Mission</a>
                </div>
            </div>
        </div>
    </div>
</footer>
