---
layout: page 
---
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/fonts.css">
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/table.css">
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/articles.css">

<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <a href="/articles/#{{ page.title }}" style="text-decoration: none; position: absolute; margin-top: -60px;"><button class="btn btn-light">←</button></a>
            <h1 style="text-align: center;">{{ page.title }}</h1>
            <p style="text-align: right;">- <span style="color: #CD392C;">By</span> {{ page.author }}</p>
            <p style="text-align: right;">- <span style="color: #CD392C;">Published on</span> {{ page.pub_date }}</p>
            <hr>
            <div style="background-color: #D9D9D9;">
                <img src="{{site.baseurl}}/assets/imgs/articlesimages/{{ page.img }}" class="rounded img-fluid col-md-12">
            </div>
            <hr>
            <div style="font-size: 20px; font-family: serif;">{{ page.content }}</div>
            <a href="/articles/#{{ page.title }}" style="text-decoration: none;"><button class="btn btn-light">Go back</button></a>
        </div>
        <div class="col-12 col-md-4">
          <div class="article-list">
            <h2>Also Read</h2>
            {% for post in site.posts %}
              {% if post.path contains 'articles' and post.title != page.title %}
                <div class="side-menu">
                  <img src="{{ site.baseurl }}/assets/imgs/articlesimages/{{ post.img }}" class="rounded img-fluid">
                  <a href="{{ site.baseurl }}{{ post.url }}"><b>{{ post.title }}</b></a>
                </div>
                <hr>
              {% endif %}
            {% endfor %}
          </div>
        </div>
    </div>
</div>
