---
layout: page 
---
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/fonts.css">
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/table.css">

<div class="container">
    <div class="row">
        <div class="col-md-9 mx-auto">
            <a href="javascript:history.back()" style="text-decoration: none; position: absolute; margin-top: -60px;"><button class="btn btn-light">←</button></a>
            <h1 style="text-align: center;">{{ page.title }}</h1>
            <p style="text-align: right;">- <span style="color: #CD392C;">By</span> {{ page.author }}</p>
            <p style="text-align: right;">- <span style="color: #CD392C;">Published on</span> {{ page.pub_date }}</p>
            <hr>
            <div style="background-color: #D9D9D9;">
                <img src="{{site.baseurl}}/assets/imgs/eventsimages/{{ page.img }}" class="rounded img-fluid col-md-12">  
            </div>
            <p>{{ page.content }}</p>
            <a href="javascript:history.back()" style="text-decoration: none;"><button class="btn btn-light">Go back</button></a>
        </div>
    </div>
</div>
