---
layout: page
---
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/ca.css">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/page.css">
<script type="text/javascript" src="{{ site.baseurl }}/js/ca.js"></script>

<header class="w-100 h-100">
    <div class="container-fluid h-100">
        <div class="row h-100 jumbotron jumbotron-fluid main-head">
            <div class="col-xl-8 col-lg-8 col-md-9 col-12 h-100 w-100">
                <div class="container-fluid d-flex align-items-center justify-content-center w-100 h-100">
                    <div class="card text-center rounded-card card-width w-50 main-card">
                        <div class="card-body card-push-sides">
                            <img class="img-fluid" style="width: 50%" src="/assets/imgs/logos/logo-ecell_iiith-orange.png">
                            <p class="lead">presents</p>
                            <h1 class="display-4">{{ page.title }}</h1>
                            <hr class="my-4">
                            <a href="https://docs.google.com/forms/d/12ghkISjWceR1Zmc1rl3KUPZnidt6yxZZFxmeeCJDaek/edit?usp=sharing"
                               target="_blank"
                               class="ca-link">
                                Register here
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container p-5" id="about">
    <div class="row">
        <div class="col p-5 text-center">
            <h1 class="py-3">About Us</h1>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-8 col-md-10 col-xs-11 mx-auto text-justify">
            <p>
            Entrepreneurship Cell, IIIT-Hyderabad is a non-profit organization run by students, and was established with the idea of creating, manifesting and guiding the entrepreneurial spirit in the student community across India and to encourage them to be successful entrepreneurs. As part of this mission, E-Cell, IIIT-Hyderabad wishes to reach out to colleges and engage students in events designed and conducted by the E-Cell that promises to invoke curiosity and enthusiasm towards entrepreneurship.
            </p>
            <p>
            E-Cell, IIIT-Hyderabad conducts several events, seminars and workshops all through the year, both for students of and beyond our college for the purpose of cultivating an entrepreneurial spirit within youngsters. The very purpose of the events are to let young minds explore and demystify the idea of entrepreneurship.
            </p>
            <p>
            The Campus Ambassador program has been designed in a way that puts skill development as a top priority. E-Cell wishes their ambassadors to be well-equipped to help advance the culture of entrepreneurship on their campus. The Campus Ambassadors, would be the face of E-Cell, IIIT-Hyderabad in their college. The skill-set that Campus Ambassadors would acquire through becoming a part of this program, would enable them to be better leaders and of course, give them an edge over their peers when it comes to their know-hows on entrepreneurship. Register now for the Campus Ambassador Program, win amazing goodies and other exciting incentives!
            </p>
        </div>
    </div>
</div>
<div class="container p-5" id="reasons">
    <div class="row">
        <div class="col p-5 text-center">
            <h1 class="py-3">Incentives</h1>
        </div>
    </div>
    <div class="row">
        <div class="incentive-card col-sm-6 col-lg-4 card rounded-card card-hover-medgreen">
            <div class="card-body">
                <h3 class="card-title">Recognition</h3>
                <p class="card-text">
                    Get certified and recognized by the institute's acclaimed E-Cell.
                </p>
            </div>
        </div>
        <div class="incentive-card col-sm-6 col-lg-4 card rounded-card card-hover-medgreen">
            <div class="card-body">
                <h3 class="card-title">Get paid</h3>
                <p class="card-text">
                    An encouraging opportunity to earn money on every registration from your college.
                </p>
            </div>
        </div>
        <div class="incentive-card col-sm-6 col-lg-4 card rounded-card card-hover-medgreen">
            <div class="card-body">
                <h3 class="card-title">Goodies</h3>
                <p class="card-text">
                    Get amazing goodies and merchandise from E-Cell and it's partners.
                </p>
            </div>
        </div>
        <div class="incentive-card col-sm-6 col-lg-4 card rounded-card card-hover-medgreen">
            <div class="card-body">
                <h3 class="card-title">Prizes</h3>
                <p class="card-text">
                    Our top ranked CAs stand a chance to be awarded prizes.
                </p>
            </div>
        </div>
        <div class="incentive-card col-sm-6 col-lg-4 card rounded-card card-hover-medgreen">
            <div class="card-body">
                <h3 class="card-title">Free Passes</h3>
                <p class="card-text">
                    CA’s will be granted free passes for all events organised by E-Cell.
                </p>
            </div>
        </div>
        <div class="incentive-card col-sm-6 col-lg-4 card rounded-card card-hover-medgreen">
            <div class="card-body">
                <h3 class="card-title">Overall Development</h3>
                <p class="card-text">
                    Boosts all-round skill development whilst participating in the various events.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- <div class="container" id="responsibilities">
    <div class="row">
        <div class="col p-5 text-center">
            <h1 class="p-3">Responsibilities</h1>
        </div>
    </div>
    <div class="row text-justify">
        <div class="col-sm-6 col-lg-3 card rounded-card card-hover-deepblue">
            <div class="my-auto">
                    <h3 class="px-2 m-2">Heading 1</h3>
                    <p class="p-2 m-2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3 card rounded-card card-hover-deepblue">
            <div class="my-auto">
                <h3 class="px-2 m-2">Heading 1</h3>
                <p class="p-2 m-2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3 card rounded-card card-hover-deepblue">
            <div class="my-auto">
                <h3 class="px-2 m-2">Heading 1</h3>
                <p class="p-2 m-2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3 card rounded-card card-hover-deepblue">
            <div class="my-auto">
                <h3 class="px-2 m-2">Heading 1</h3>
                <p class="p-2 m-2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
            </div>
        </div>
    </div>
</div> -->
<div class="container" id="associates">
    <div class="row">
        <div class="col p-5 text-center">
            <h1 class="py-3">Our Partners</h1>
        </div>
    </div>
    <div class="row partners">
        <div class="col-md-3 col-sm-6 my-auto">
            <img class="img-fluid" src="/assets/imgs/sponsors/embibe.svg">
        </div>
        <div class="col-md-3 col-sm-6 my-auto">
            <img class="img-fuild" src="/assets/imgs/sponsors/internshaala.svg">
        </div>
        <div class="col-md-3 col-sm-6 my-auto">
            <img class="img-fluid" src="{{ site.baseurl }}/assets/imgs/sponsors/hellointern.png" alt="HelloIntern">
        </div>
    </div>
</div>
<div class="container" id="contact">
    <div class="row">
        <div class="col p-5 text-center">
            <h1 class="py-3">FAQs</h1>
        </div>
    </div>
    <div class="row">
        {% for faq in site.data.ca_faq %}
        <div class="col-12">
            <div class="faq-main-card card rounded-card mb-5 card-hover-medgreen">
                <h3 class="px-2 m-2">
                    {{ faq.question }}
                </h3>
                <p class="p-2 m-2">
                {{ faq.answer }}
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="my-5">&nbsp;</div>

<div class="join-us">
    <h1 class="px-2 m-2">So, what are you waiting for?</h1>

    <a href="https://docs.google.com/forms/d/12ghkISjWceR1Zmc1rl3KUPZnidt6yxZZFxmeeCJDaek/edit?usp=sharing"
       class="ca-link w-75 mx-auto my-5"
       target="_blank">
        Join us now!
    </a>
</div>

<div class="container">
    <div class="row">
        <div class="col p-5 text-center">
            <h1 class="py-3">Leaderboard</h1>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center align-items-center text-center">
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Score</th>
                </tr>
              </thead>
              <tbody id="leaderboard">
              </tbody>
            </table>
        </div>
    </div>
</div>