---
layout: page
---
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/ca.css">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/page.css">
<header class="w-100 h-100">
    <div class="container-fluid h-100">
        <div class="row h-100 jumbotron jumbotron-fluid main-head">
            <div class="col-xl-8 col-lg-8 col-md-9 col-12 h-100 w-100">
                <div class="container-fluid d-flex align-items-center justify-content-center w-100 h-100">
                    <div class="card text-center rounded-card card-width">
                        <div class="card-body card-push-sides">
                            <h1 class="display-4">{{ page.title }}</h1>
                            <hr class="my-4">
                            <p class="lead">Join Today!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

{{ content }}