---
layout: page
---
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/ca.css">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/page.css">
<header class="w-100 h-75">
    <div class="container-fluid h-100 main-head">
        <div class="row h-100">
            <div class="col-xl-6 col-lg-7 col-md-8 col-12 h-100 w-100">
                <div class="container-fluid d-flex align-items-center justify-content-center w-100 h-100">
                    <div class="card text-center rounded-card card-width">
                        <div class="card-body card-push-sides">
                            <h1 class="card-title">{{ page.title }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

{{ content }}