<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Epochs</title>
    {% include libraries.html %}
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/ephocs.css">
</head>
<div >

<!--NavBar (Sits on Top)-->
<nav class="navbar navbar-expand-lg navbar-light container">
    <a class="navbar-brand" href="#"><img src="" class="image-fluid"alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto text-right">
        <a class="nav-item nav-link p-4" href="#">C-Works <!--span class="sr-only">(current)</span--></a>
        <a class="nav-item nav-link p-4" href="#">E-Summit</a>
        <a class="nav-item nav-link p-4" href="#">Startup Aid</a>
        <a class="nav-item nav-link p-4" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </div>
    </div>
</nav>
<br>
<br>
<!--Landing Page-->
<div class="container landing pt-5 vh-100">
    <img src="" class="image-fluid" alt="Landing Image"></img>
</div>
<!--Content-->
<div class="container pt-5 vh-100 d-flex">
    <div class="row justify-content-start my-auto">
        <div class="col-8 p-3">
            <h1>First Column</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
</div>
<div class="container pt-5 vh-100 d-flex">
    <div class="row justify-content-end text-right my-auto">
            <div class="col-8 p-3">
                <h1>Second Column</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>
</div>
<div class="container pt-5 vh-100 d-flex">    
    <div class="row justify-content-start my-auto">
        <div class="col-8 p-3">
            <h1>Third Column</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
</div>
<br>
<br>
<!--Footer-->
<div class="container-fluid footer">
    <div class="row">
        <div class="col-12 text-center">
            <ul class="list-inline pt-3">
                <li class="list-inline-item p-2 "><a href="https://www.facebook.com/ecell.iiithyd/" target="_blank"><h1><i class="fab fa-facebook footer-element"></i></h1></a></li>
                <li class="list-inline-item p-2 "><a href="https://www.instagram.com/ecell_iiith/" target="_blank"><h1><i class="fab fa-instagram footer-element"></i></h1></a></li>
                <li class="list-inline-item p-2 "><a href="https://twitter.com/ecell_iiithyd" target="_blank"><h1><i class="fab fa-twitter footer-element"></i></h1></a></li>
                <li class="list-inline-item p-2 "><a href="https://www.youtube.com/channel/UCE8mniuxsSH_SVYTmKWxtfA" target="_blank"><h1><i class="fab fa-youtube footer-element"></i></h1></a></li>
            </ul>
        </div>
    </div>
</div>
<script>
    
</script>
</html>