<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Epochs</title>
    {% include libraries.html %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/epochs.css">
</head>
<div >

<!--NavBar (Sits on Top)-->
<body>

    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#"><img src="{{site.baseurl}}/assets/imgs/logos/epoch-1-plain.svg" class="img-thumbnail"alt="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto text-right">
            <a class="nav-item nav-link pr-4" href="{{ site.baseurl }}/cworks">C-Works</a>
            <a class="nav-item nav-link pr-4" href="{{ site.baseurl }}/e-summit">E-Summit</a>
            <a class="nav-item nav-link pr-4" href="{{ site.baseurl }}/startup-aid">Startup Aid</a>
          </div>
        </div>
    </nav>
    <!--Landing Page-->
    <div id="fullpage">

        <div class="section container" id="landing">
        </div>
        <!--Content-->
        <div class="section cover_noback container rounded">
            <div class="row p-1 justify-content-start">
                <div class="col-md-8 p-3 text-justify">
                    <h1>Startup Aid</h1>
                    <p>
                        Always wanted to have your own start up? Here’s your chance.<br>E-Cell IIIT-H presents to you the first event in Epoch-Startup Aid. Startup Aid is a 4-sprint program aimed to help IIIT students polish raw ideas in their minds into something which they can take to an investor and probably convert the idea into a profitable startup. The program provides a golden opportunity to learn the different aspects of a startup and make connections with industry experts and entreprenurs.<br>Additionally, top 3 teams get a cash prize of 20K each.<br>For registration and further details: <a href="{{ site.baseurl }}/startup-aid">Click Here</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="section cover_noback container rounded">
            <div class="row p-1 justify-content-end">
                <div class="col-md-8 p-3 text-right">
                    <h1>Campus Works</h1>
                    <p>
                        ECell's newest initiative seamlessly connects startups with a passionate student workforce through an online internship portal. Exclusive to IIIT students, Campus works lets startups recruit students year round - connecting IIIT's finest with budding entreprenurship ventures. ECell guarantees that experiences through the campus works will be extremely enriching and rewarding, with monetary benefits as well, for the next generation of leaders.
                    </p>
                </div>
            </div>
        </div>
        <div class="section cover_noback container rounded">  
            <div class="row p-1 justify-content-start">
                <div class="col-md-8 p-3 text-justify">
                    <h1>E-Summit</h1>
                    <p>
                    E-Summit 2020 is a platform that brings together influential names in the industry, investors and people who are a part of India’s rapidly growing startup-ecosystem, with the objective of providing a great networking experience as well as a good opportunity to connect and discuss ideas for a better tomorrow.
                    The two-day event also aims to connect and inspire budding entrepreneurs, emerging startups and people with innovative ideas.
                    So, if you are someone who is looking to take your business idea to the next level, E-Summit 2020 is the place for you to be.
                    </p>
                </div>
            </div>  
        </div>
        <!--Footer-->
        <div class="section" id="contact">
            <div class="row text-center">
                <div class="col-xs-12 col-md-12 col-sm-12">
                    <ul class="list-inline pt-3">
                        <li class="list-inline-item p-2"><a class="faficon" href="https://www.facebook.com/ecell.iiithyd/" target="_blank"><h2><i class="fab fa-facebook"></i></h2></a></li>
                        <li class="list-inline-item p-2"><a class="faficon" href="https://www.instagram.com/ecell_iiith/" target="_blank"><h2><i class="fab fa-instagram"></i></h2></a></li>
                        <li class="list-inline-item p-2"><a class="faficon" href="https://twitter.com/ecell_iiithyd" target="_blank"><h2><i class="fab fa-twitter"></i></h2></a></li>
                        <li class="list-inline-item p-2"><a class="faficon" href="https://www.youtube.com/channel/UCE8mniuxsSH_SVYTmKWxtfA" target="_blank"><h2><i class="fab fa-youtube"></i></h2></a></li>
                        <li class="list-inline-item p-2"><a class="faficon" href="https://github.com/IIIT-ECell" target="_blank"><h2><i class="fab fa-github"></i></h2></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/vendors/scrolloverflow.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.extensions.min.js" ></script>
<!-- <script type="text/javascript" src="https://rawgit.com/alvarotrigo/fullPage.js/dev/src/fullpage.js" ></script> -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.js"></script>
<script>
    $(document).ready(function () {
        $('#fullpage').fullpage({
            //options here
            autoScrolling:true,
            scrollHorizontally: true,
            parallax: false,
            anchors: ['page1', 'page2', 'page3', 'page4','page5','page6'],
            controlArrows: false,
            navigation:true,
            navigationPosition: 'right',
            recordHistory: false,
        });
        // methods
        $.fn.fullpage.setAllowScrolling(true);
    });
</script>

</html>
