--- title: Fail! permalink: /fail/ ---

<!DOCTYPE html>
<html lang="en">

<!-- taken directlry from head.html with ganal removed -->

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8"> {% include ganal.html %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="{{ "/css/custom-bootstrap.css" | prepend: site.baseurl }}"> -->
    <!-- <link rel="stylesheet" href="{{ "/css/materialize-colours.css" | prepend: site.baseurl }}"> -->
    <title>{{site.title}}</title>
    <link rel="shortcut icon" type="image/png" href="{{site.baseurl}}/assets/imgs/logos/logo-ecell.png" />
    <link rel="stylesheet" href="{{site.baseurl}}/css/fail.css">
</head>

<body class="raleway" style="background-color: black;">
    <div id="landing">
        <video id="back-vid" src="https://youtube.com/embed/o5pkY_uOP_g" type="video/webm" preload="preload" autoplay muted autobuffer>
        <source src="https://youtube.com/embed/o5pkY_uOP_g" type="video/webm"></source>
        </video>
    </div>
    <div class="wrapper" style="display:none">
        <nav id="sidebar">
            <div class="mb-3">
                <img src="{{site.baseurl}}/assets/imgs/back/fback.png" class="img-fluid p-5">
            </div>
            <div class="sidebar-header">
                <ul class="list-unstyled components text-center">
                    <li>
                        <a href="https://ecell.iiit.ac.in/" onclick="hidebar()">E-Cell Home</a>
                    </li>
                    <li>
                        <a href="#about" onclick="hidebar()">About</a>
                    </li>
                    <li>
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Speakers</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li>
                                <a href="#speaker1" onclick="hidebar()">Ashris Choudhury</a>
                            </li>
                            <li>
                                <a href="#speaker2" onclick="hidebar()">Janvi Tiwari</a>
                            </li>
                            <li>
                                <a href="#speaker3" onclick="hidebar()">Puja Marwaha</a>
                            </li>
                            <li>
                                <a href="#speaker4" onclick="hidebar()">Karthik Vaidhyanathan</a>
                            </li>
                            <li>
                                <a href="#speaker5" onclick="hidebar()">Vartika Joshi</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#register" onclick="hidebar()">Register</a>
                    </li>
                    <li>
                        <a href="#contact" onclick="hidebar()">Your Failure Story</a>
                    </li>
                </ul>
            </div>
            <!-- <div id="helper">
                Sponsored by 
                <a href="https://www.fintapp.com/" target="_blank">
                    <img src="{{site.baseurl}}/assets/imgs/sponsors/fintapp1.png" alt="fintapp" style="width: 50%;">
                </a>
            </div> -->
        </nav>
        <div id="navbar">
            <!-- <nav class="navbar navbar-expand-lg navbar-light bg-dark"> -->
            <button type="button" id="sidebarCollapse" class="btn">
                    <h2><i class="fas fa-bars"></i></h2>
                    <!-- <span>Toggle Sidebar</span> -->
                </button>
            <!-- </nav> -->
        </div>

        <div id="content" class="container-fluid">
            <div id="about" class="section container-fluid">
                <div class="row p-5">
                    <h1 class="text-center pr-5 mr-5">About FAIL?</h1>
                    <p class="text-white pb-4">
                        FAIL? where incredible keynote speakers from diverse backgrounds will share their inspiring stories of setbacks, challenges, and how they transformed failure into a stepping stone towards their ultimate success.
                    </p>
                    <p class="text-white pb-4">
                        Learn from entrepreneurs, military officials, scientists, lawyers, and more about their journeys through adversity and how they turned the tables to reach their goals. Gain valuable insights, actionable strategies, and a fresh perspective on failure's
                        role in shaping success. </p>
                    <p class="text-white pb-4">
                        FAIL? is aimed at facing the moments of failure head-on, sharing them and most importantly improving by them. It is a celebration of moments we don’t generally share. </p>

                </div>
            </div>

            <div style="padding:5px; align-items: center; justify-content: center; text-align: center; margin-bottom: 10vh;">
                <div>
                    <iframe src="https://www.youtube.com/embed/o5pkY_uOP_g" title="FAIL? 2023 | E-Cell IIIT Hyderabad" width="100%" style="aspect-ratio: 16/8; border-radius: 2%;"></iframe></div>
            </div>


            <div id="speaker1" class="section container-fluid">
                <!-- <div class="section">     -->
                <div class="row speaker py-5">
                    <div class="col-sm-4">
                        <img class="img-fluid speaker-image" alt="Ashris choudhury" src="{{site.baseurl}}/assets/imgs/speakers/ashris-choudhury.png">
                    </div>
                    <div class="col-sm-8">
                        <h2 class="text-center m-4">Ashris Choudhury</h2>
                        <div class="text-white px-3">
                            <p>
                                Ashris Choudhury, the visionary coder behind 'India in Pixels,' brought innovation to the forefront. His work in reshaping India's perception through visual data was not just groundbreaking but also a masterclass in the importance of creativity and adaptation. 
                            </p>
                            <p>
                                Ashris's journey, marked by experimentation and tenacity, resonated with the audience, driving home the point that failure is the cornerstone of innovation.
                            </p>
                            <p>
                                Ashris's examples, including his study and YouTube videos, illustrated how failures can lead to unexpected breakthroughs. His ability to turn setbacks into opportunities was a testament to the idea that every failure carries the seeds of success within it.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- </div> -->
            </div>
            <div id="speaker2" class="section container-fluid">
                <div class="row speaker py-5">
                    <div class="col-sm-4">
                        <img class="img-fluid speaker-image" alt="Janvi Tiwari" src="{{site.baseurl}}/assets/imgs/speakers/janvi-tiwari.png">
                    </div>
                    <div class="col-sm-8">
                        <h2 class="text-center m-4">Janvi Tiwari</h2>
                        <div class="text-white px-3">
                            <p>
                                Ms. Janvi Tiwari, the visionary founder behind SOQO, brought a unique touch of humour  to her presentation. She shared most of her journey in a light-hearted and funny way, sprinkling her speech with anecdotes from her own life. 
                            </p>
                            <p>
                                The audience found themselves laughing and nodding in agreement as she used her own experiences to illustrate the power of perseverance and determination.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="speaker3" class="section container-fluid">
                <div class="row speaker py-5">
                    <div class="col-sm-4">
                        <img class="img-fluid speaker-image" alt="Puja Marwaha" src="{{site.baseurl}}/assets/imgs/speakers/puja-marwaha.png">
                    </div>
                    <div class="col-sm-8">
                        <h2 class="text-center m-4">Puja Marwaha</h2>
                        <div class="text-white px-3">
                            <p>
                                Ms. Puja Marwaha, CEO of CRY (Child Rights and You), stood tall as a guardian of hope and change. Her journey in leading India's child rights movement and igniting a fire of compassion and justice was both humbling and invigorating.
                            </p>
                            <p>
                                Ms. Marwaha's passion for creating a brighter future for every child shone through her words.
                            </p>
                            <p>
                                Attendees were deeply moved by her insights and experiences, realising that failure is not just a personal journey but a collective one. Her unwavering dedication to the cause of child rights advocacy left everyone inspired to be a part of creating a better world for children.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="speaker4" class="section container-fluid">
                <div class="row speaker py-5">
                    <div class="col-sm-4">
                        <img class="img-fluid speaker-image" alt="Thangminlal Haokip" src="{{site.baseurl}}/assets/imgs/speakers/karthik-vaidhyanathan.png">
                    </div>
                    <div class="col-sm-8">
                        <h2 class="text-center m-4">Karthik Vaidhyanathan</h2>
                        <div class="text-white px-3">
                            <p>
                                Professor Karthik Vaidhyanathan, an Assistant Professor at the Software Engineering Research Center, IIIT-Hyderabad, India, was a standout figure at the event. With a Ph.D. from the Gran Sasso Science Institute, Italy, and postdoc experience at the University of L’Aquila, Italy, Professor Karthik's journey exemplified the fusion of academia and practical application. 
                            </p>
                            <p>
                                His research at the intersection of software architecture and machine learning has reshaped the tech landscape.
                            </p>
                            <p>
                                The audience was captivated as Professor Karthik shared his experiences, and they resonated deeply with his message that failure is not a roadblock but a stepping stone. His five years of industry experience combined with his academic achievements made him a dynamic force, showcasing the potential for innovation and transformation that lies within every setback.
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div id="speaker5" class="section container-fluid">
                <div class="row speaker py-5">
                    <div class="col-sm-4">
                        <img class="img-fluid speaker-image" alt="Vartika Joshi" src="{{site.baseurl}}/assets/imgs/speakers/vartika-joshi.png">
                    </div>
                    <div class="col-sm-8">
                        <h2 class="text-center m-4">Vartika Joshi</h2>
                        <div class="text-white px-3">
                            <p>
                                Lieutenant Commander Vartika Joshi, the fearless skipper of the historic all-woman Indian crew aboard INSV Tarini, took the audience on an extraordinary voyage of courage and determination. Her story of circumnavigating the globe on INSV Tarini, as the leader of the first six-member all-woman Indian crew, was a testament to the power of leadership, teamwork, and pushing boundaries.
                            </p>
                            <p>
                                The audience was on the edge of their seats as Lieutenant Commander Vartika Joshi recounted her adventures through vast oceans and challenging waters. Her unwavering leadership and resilience were not just inspiring but also a call to action for everyone present. She exemplified the belief that no challenge is insurmountable and that failures are merely opportunities to learn and grow.
                            </p>
                            <p>
                                As the leader of the first six-member all-woman Indian crew to achieve the incredible feat of circumnavigating the globe on INSV Tarini, Vartika Joshi has shown the world what strength and teamwork can achieve. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="register" style="padding:5px; align-items: center; justify-content: center; text-align: center; margin-bottom: 10vh;">
                <div class="">
                    <h1 class="text-center"><s>Register for Event</s></h1>
                    <br />
                    <div>
                        <!-- <a class="bg-transparent hover:bg-blue-200 text-red-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" href="https://ecell.iiit.ac.in/fail/register">Buy tickets</a> -->
                        <a  class="bg-transparent hover:bg-blue-200 text-red-700 font-semibold hover:text-white py-2 px-4 border border-blue-500
                         hover:border-transparent rounded"> Sorry, registrations are closed.</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- <iframe src="https://researchweb.iiit.ac.in/~abhigyan.ghosh/fail_wall.html">
    </iframe> -->

    <div class="footer" id="contact">
        <div class="container  text-right">
            <div class="row">
                <!-- <div class="col-sm-12 pb-3 text-center">
                    <a href="https://researchweb.iiit.ac.in/~abhigyan.ghosh/fail_wall.html">See others' failure stories</a>
                </div> -->
                <div class="col-sm-12 text-center">
                    <h2>Share your failure story!</h2>
                </div>

            </div>

        </div>
        <form class="container" method="POST/GET" action="/fail">

            <!-- form element -->
            <div class="row">
                <div class="col-sm-12 form-group">
                    <textarea name="message" id="message" class="form-control" rows="3" placeholder="Your story" required></textarea>
                </div>
                <div class="col-sm-12">
                    <input name="submit" type="button" class="btn btn-success" value="Send Message" onclick="sendEmail()">
                </div>
            </div>
            <!-- end form element -->
        </form>

        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
        </script>
        <script type="text/javascript">
            function sendEmail() {
                let Message = document.getElementById("message").value;
                console.log(Message);
                emailjs.init("fhXGPpCkZPmIMXFP7");
                emailjs.send("service_fbnlqys", "template_ugp1bea", {
                    message: Message,
                });
            }
        </script>

        <div class="container">
            <div class="row text-center">
                <div class="col-xs-12 col-md-12 col-sm-12">
                    <ul class="list-inline pt-3">
                        <li class="list-inline-item p-2">
                            <a class="faficon" href="https://www.facebook.com/ecell.iiithyd/" target="_blank">
                                <h2><i class="fab fa-facebook"></i></h2>
                            </a>
                        </li>
                        <li class="list-inline-item p-2">
                            <a class="faficon" href="https://www.instagram.com/ecell_iiith/" target="_blank">
                                <h2><i class="fab fa-instagram"></i></h2>
                            </a>
                        </li>
                        <li class="list-inline-item p-2">
                            <a class="faficon" href="https://id.linkedin.com/company/ecell-iiith" target="_blank">
                                <h2><i class="fab fa-linkedin"></i></h2>
                            </a>
                        </li>
                        <li class="list-inline-item p-2">
                            <a class="faficon" href="https://www.youtube.com/channel/UCE8mniuxsSH_SVYTmKWxtfA" target="_blank">
                                <h2><i class="fab fa-youtube"></i></h2>
                            </a>
                        </li>
                        <li class="list-inline-item p-2">
                            <a class="faficon" href="https://github.com/IIIT-ECell" target="_blank">
                                <h2><i class="fab fa-github"></i></h2>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
    var $sidebarCollapseBtn;
    var lastScrollTop = 0;
    $(document).scroll(function(event) {
        event.preventDefault();
        var st = $(this).scrollTop();
        if (st > lastScrollTop) {
            $("#landing").slideUp(() => {
                $(".wrapper").slideDown();
            });
            // document.getElementById("#about").scrollIntoView();
        }
        lastScrollTop = st;
    });
    $(document).ready(function() {
        // $("#sidebar").mCustomScrollbar({
        //     theme: "minimal"
        // });
        $sidebarCollapseBtn = $("#sidebarCollapse");
        $sidebarCollapseBtn.on("click", function() {
            $('#sidebar').toggleClass('active');
        });
        toggleBtnState();
        $.getJSON("https://researchweb.iiit.ac.in/~abhigyan.ghosh/messages.json", function(data) {
            var items = [];
            $.each(data, function(key, val) {
                console.log(val);
            });
        });
    });

    function toggleBtnState() {
        console.log(document.body.clientWidth);
        if (document.body.clientWidth >= 769) {
            console.log("Desktop");
            $sidebarCollapseBtn.hide();
            $("#sidebar").removeClass("active");
        } else {
            console.log("Mobile");
            $("#sidebar").addClass("active");
            // $sidebarCollapseBtn.show();
            // $sidebarCollapseBtn.click();
        }
    }

    $(window).on("load", toggleBtnState);

    // document.getElementById("back-vid").addEventListener('ended',()=>{
    //         console.log('video ended');
    //         $("#landing").slideUp(()=>{
    //             $(".wrapper").slideDown();
    //         });
    // },false);

    $("#landing").ready(() => {
        setTimeout(() => {
            $("#landing").slideUp(() => {
                $(".wrapper").slideDown();
            });
        }, 1000);
    });

    function hidebar() {
        if (document.body.clientWidth <= 769) {
            $("#sidebar").toggleClass("active");
        }
    }
</script>

</html>
