---
title: Fail!
permalink: /fail/
---

<!DOCTYPE html>
<html lang="en">

<!-- taken directlry from head.html with ganal removed -->
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    {% include ganal.html %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="{{ "/css/custom-bootstrap.css" | prepend: site.baseurl }}"> -->
    <!-- <link rel="stylesheet" href="{{ "/css/materialize-colours.css" | prepend: site.baseurl }}"> -->
    <title>{{site.title}}</title>
    <link rel="shortcut icon" type="image/png" href="{{site.baseurl}}/assets/imgs/logos/logo-ecell.png"/>
    <link rel="stylesheet" href="{{site.baseurl}}/css/fail.css">
</head>
        
<body class="raleway" style="background-color: black;">
    <div id="landing">
        <!-- <video id="back-vid" src="/assets/back/FAIL_INTRO.webm" type="video/webm" preload="preload" autoplay muted autobuffer> -->
            <!-- <source src="/assets/back/FAIL_INTRO.webm" type="video/webm"></source> -->
        <!-- </video> -->
    </div>
    <div class="wrapper" style="display:none">
        <nav id="sidebar">
            <div class="sidebar-header">
            </div>
            <ul class="list-unstyled components text-center">
                <div class="mb-3">
                    <img src="/assets/imgs/logos/fail_below_white.png" class="img-fluid p-5">
                </div>
                <li>
                    <a href="https://ecell.iiit.ac.in/" onclick="hidebar()">E-Cell Home</a>
                </li>
                <li>
                    <a href="#about" onclick="hidebar()">About</a>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Speakers</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#speaker1" onclick="hidebar()">Ajay Kumar Siotra</a>
                        </li>
                        <li>
                            <a href="#speaker2" onclick="hidebar()">Pankhuri Gidwani</a>
                        </li>
                        <li>
                            <a href="#speaker3" onclick="hidebar()">Aditi Avasthi</a>
                        </li>
                        <li>
                            <a href="#speaker4" onclick="hidebar()">Dutee Chand</a>
                        </li>
                        <li>
                            <a href="#speaker5" onclick="hidebar()">Viiveck Verma</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#contact" onclick="hidebar()">Your Failure Story</a>
                </li>
            </ul>
            <div id="helper">
                Sponsored by 
                <a href="https://www.fintapp.com/" target="_blank">
                    <img src="../assets/imgs/sponsors/fintapp1.png" alt="fintapp" style="width: 50%;">
                </a>
            </div>
        </nav>
        <div id="navbar">
            <!-- <nav class="navbar navbar-expand-lg navbar-light bg-dark"> -->
                <button type="button" id="sidebarCollapse" class="btn">
                    <h2><i class="fas fa-bars"></i></h2>
                    <!-- <span>Toggle Sidebar</span> -->
                </button>
            <!-- </nav> -->
        </div>
        
        <div id="content" class="container-fluid">
            <div id="about" class="section container-fluid">
                <div class="row p-5">
                        <h1 class="text-center pr-5 mr-5">About FAIL!</h1>
                        <p class="text-white pb-4">
                            Started at the Massachusetts Institute of Technology with professors from MIT and the Ivy League colleges as past speakers,  FAIL! has now reached Asia at IIIT Hyderabad. Some past speakers of FAIL! include Mira Wilczek (President and CEO of Cogo Labs), Daniel Jackson (Professor and Associate Director of the Computer Science and Artificial Intelligence Lab at the Massachusetts Institute of Technology) and Deborah Blum(Director of the Knight Science Journalism Program).
                        </p>
                        <p class="text-white pb-4">
                            FAIL! is aimed at facing the moments of failure head-on, sharing them and most importantly improving by them. It is a celebration of moments we don’t generally share.
                        </p>
                        <p class="text-white pb-4">
                            Come listen to the failure stories of youth icons from all over India as they share their struggles on their journey to success:
                        </p>
                                
                </div>
            </div>
            <div id="speaker1" class="section container-fluid">
                <!-- <div class="section">     -->
                    <div class="row speaker py-5">
                        <div class="col-sm-4">
                            <img class="img-fluid speaker-image" alt="Ajay Kumar Siotra" src="{{site.baseurl}}/assets/imgs/speakers/ajay_spekarer-1.png">
                        </div>
                        <div class="col-sm-8">
                            <h2 class="text-center m-4">Ajay Kumar Siotra</h2>
                            <div class="text-white px-3">
                                    <p>
                                        Ajay Kumar Siotra, one of Jammu's budding Entrepreneurs and owner of Cafe Scoorervala. An inspiration to many!
                                    </p>
                                    <p>
                                        His passion for cooking reflected in his food. His MasterChef India apron was a mark of his determination.
                                    </p>
                                    <p>
                                        Hurdling through the societal norms, Siotra followed his dreams. Elimination from the competition was a fall, but that definitely was his stepping stone to a bright future.
                                    </p>
                                    <p>
                                        He will be sharing his experiences and failures on 2nd March 2019 at IIIT, Hyderabad.
                                    </p>
                                    <p>
                                        <a href="https://goo.gl/forms/uZVSufmysL05GRB42" style="color:#bba559"><button class="btn">RSVP here</button></a>
                                    </p>
                            </div>
                        </div>
                    </div>
                <!-- </div> -->
            </div>
            <div id="speaker2" class="section container-fluid">
                <div class="row speaker py-5">
                    <div class="col-sm-4">
                        <img class="img-fluid speaker-image" alt="Pankhuri Gidwani" src="{{site.baseurl}}/assets/imgs/speakers/pnkhuri_spekarer.png">
                    </div>
                    <div class="col-sm-8">
                        <h2 class="text-center m-4">Pankhuri Gidwani</h2>
                        <div class="text-white px-3">
                            <p>
                                Pankhuri Gidwani is the face of the new generation. As the 2nd runner up in Miss India 2016, and the brand ambassador of Women Power Line 1090, she's a testament to the fact that age is no barrier for making a mark.
                            </p>
                            <p>
                                Listen to her at FAIL! where she will be sharing her experiences and failures on 2nd March 2019 at IIIT, Hyderabad.
                            </p>
                            <p>
                                <a href="https://goo.gl/forms/uZVSufmysL05GRB42" style="color:#bba559"><button class="btn">RSVP here</button></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="speaker3" class="section container-fluid">
                <div class="row speaker py-5">
                    <div class="col-sm-4">
                        <img class="img-fluid speaker-image" alt="Aditi Avasthi" src="{{site.baseurl}}/assets/imgs/speakers/aditi_speaker_1.png">
                    </div>                    
                    <div class="col-sm-8">
                        <h2 class="text-center m-4">Aditi Avasthi</h2>
                        <div class="text-white px-3">
                            <p>
                                BBC’s 100 women tackling illiteracy, BW Disrupt’s list of 40 under 40, Fortune’s 40 under 40, BBC’s top 100 inspirational and innovative women, these are a few among the many lists Aditi Awasthi has made into after she founded Embibe, a technology and AI driven platform for education.
                            </p>
                            <p>
                                Join Aditi Avasthi on 2nd March 2019 at FAIL!, brought to you by E-Cell IIIT-Hyderabad, as she talks about the challenges she faced on her path to becoming the CEO of the world's largest AI platform in education.
                            </p>
                            <p>
                                <a href="https://goo.gl/forms/uZVSufmysL05GRB42" style="color:#bba559"><button class="btn">RSVP here</button></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="speaker4" class="section container-fluid">
                <div class="row speaker py-5">
                    <div class="col-sm-4">
                        <img class="img-fluid speaker-image" alt="Dutee Chand" src="/assets/imgs/speakers/duteechand_spekarer.png">
                    </div>
                    <div class="col-sm-8">
                        <h2 class="text-center m-4">Dutee Chand</h2>
                        <div class="text-white px-3">
                            <p>
                                From being India's most loved athlete to facing the wrath of her own people, from being India's third ever woman athlete to qualify 100 metres event in summer Olympics to fighting for her rights in the court Dutee Chand is an epitome for all those people who choose fight over flight because when you choose fight you become a legend like our speaker Ms. Dutee Chand.
                            </p>
                            <p>
                                Come listen to her on 2nd March at FAIL! at IIIT Hyderabad.
                            </p>
                            <p>
                                <a href="https://goo.gl/forms/uZVSufmysL05GRB42" style="color:#bba559"><button class="btn">RSVP here</button></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div id="speaker5" class="section container-fluid">
                <div class="row speaker py-5">
                    <div class="col-sm-4">
                        <img class="img-fluid speaker-image" alt="Viiveck Verma" src="/assets/imgs/speakers/viiveck_speaker.png">
                    </div>
                    <div class="col-sm-8">
                        <h2 class="text-center m-4">Viiveck Verma</h2>
                        <div class="text-white px-3">
                            <p>
                                From being in the corporate world for many years to be a startup ecosystem enabler, Viiveck Verma has donned many caps. The ex-CEO of Karvy Data Management Services who is now a Board Member of investing community Hyderabad Angels(the third largest startup investment ecosystem enabler in the country) and the chief strategy officer & head retail at Srinivasa Farms.
                            </p>
                            <p>
                                He is also the co-founder of IIIT Seed Fund and has investments in more than 15 companies ranging across domains.
                            </p>
                            <p>
                                Come listen to him on 2nd March at FAIL! in IIIT Hyderabad.
                            </p>
                            <p>
                                <a href="https://goo.gl/forms/uZVSufmysL05GRB42" style="color:#bba559"><button class="btn">RSVP here</button></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
    <!-- <iframe src="https://researchweb.iiit.ac.in/~abhigyan.ghosh/fail_wall.html">
    </iframe> -->
    
    <div class="footer" id="contact">
        <div class="container  text-right">
            <div class="row">
                <div class="col-sm-12 pb-3 text-center">
                    <a href="https://researchweb.iiit.ac.in/~abhigyan.ghosh/fail_wall.html">See others' failure stories</a>
                </div>
                <div class="col-sm-12 text-center">
                    <h2>Share your failure story!</h2>
                </div>
                
            </div>
                
        </div>
        <form class="container" method="post" action="https://researchweb.iiit.ac.in/~abhigyan.ghosh/mail.php">             
            
            <!-- form element -->
            <div class="row">
                <div class="col-sm-12 form-group">
                    <textarea name="message" id="message" class="form-control" rows="3" placeholder="Your story" required></textarea>
                </div>
                <div class="col-sm-12">
                    <input name="submit" type="submit" class="btn btn-success" value="Send Message">
                </div>
            </div>
            <!-- end form element -->
        </form>
        <div class="container">
            <div class="row text-center">
                <div class="col-xs-12 col-md-12 col-sm-12">
                    <ul class="list-inline pt-3">
                        <li class="list-inline-item p-2"><a class="faficon" href="https://www.facebook.com/ecell.iiithyd/" target="_blank"><h2><i class="fab fa-facebook"></i></h2></a></li>
                        <li class="list-inline-item p-2"><a class="faficon" href="https://www.instagram.com/ecell_iiith/" target="_blank"><h2><i class="fab fa-instagram"></i></h2></a></li>
                        <li class="list-inline-item p-2"><a class="faficon" href="https://twitter.com/ecell_iiithyd" target="_blank"><h2><i class="fab fa-twitter"></i></h2></a></li>
                        <li class="list-inline-item p-2"><a class="faficon" href="https://www.youtube.com/channel/UCE8mniuxsSH_SVYTmKWxtfA" target="_blank"><h2><i class="fab fa-youtube"></i></h2></a></li>
                        <li class="list-inline-item p-2"><a class="faficon" href="https://github.com/IIIT-ECell" target="_blank"><h2><i class="fab fa-github"></i></h2></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
    var $sidebarCollapseBtn;
    var lastScrollTop = 0;
    $(document).scroll(function(event){
        event.preventDefault();
        var st = $(this).scrollTop();
        if (st > lastScrollTop){
            $("#landing").slideUp(()=>{
                $(".wrapper").slideDown();
            });
            // document.getElementById("#about").scrollIntoView();
        }
        lastScrollTop = st;
    });
    $(document).ready(function () {
        // $("#sidebar").mCustomScrollbar({
        //     theme: "minimal"
        // });
        $sidebarCollapseBtn = $("#sidebarCollapse");
        $sidebarCollapseBtn.on("click", function(){
            $('#sidebar').toggleClass('active');
        });
        toggleBtnState();
        $.getJSON("https://researchweb.iiit.ac.in/~abhigyan.ghosh/messages.json",function(data){
            var items = [];
            $.each(data, function(key,val){
                console.log(val);
            });
        });
    });

    function toggleBtnState(){
        console.log(document.body.clientWidth);
        if(document.body.clientWidth >= 769){
            console.log("Desktop");
            $sidebarCollapseBtn.hide();
            $("#sidebar").removeClass("active");
        }else{
            console.log("Mobile");
            $("#sidebar").addClass("active");
            $sidebarCollapseBtn.show();
            $sidebarCollapseBtn.click();
        }
    }

    $(window).on("load", toggleBtnState);
    
    // document.getElementById("back-vid").addEventListener('ended',()=>{
    //         console.log('video ended');
    //         $("#landing").slideUp(()=>{
    //             $(".wrapper").slideDown();
    //         });
    // },false);

    $("#landing").ready(()=>{
        setTimeout(()=>{
            $("#landing").slideUp(()=>{
                $(".wrapper").slideDown();
            });
        },1000);
    });

    function hidebar(){
        if(document.body.clientWidth <= 769){
            $("#sidebar").toggleClass("active");
        }
    }
</script>
</html>
