{% include libraries.html %}
<link rel="stylesheet" href="../css/footer.css">
<footer>

	<div class="container h-50 bg-blue">
		
		<div class="row">

			<div class="col-12 col-md-4 push-upper">

				<img src="/assets/imgs/logo.png">
				2019. Entrepreneurship Cell of International Institute of Information Technology, Hyderabad.

			</div>
			
			<div class="col-12 col-sm-6 col-md-3 push-upper">

				<h3>About</h3>
				<a class="d-block" href="#">Mission</a>
				<a class="d-block" href="#">Mission</a>
				<a class="d-block" href="#">Mission</a>

			</div>

			<div class="col-12 col-sm-6 col-md-3 push-upper">

				<h3>Work</h3>
				<a class="d-block" href="#">Mission</a>
				<a class="d-block" href="#">Mission</a>
				<a class="d-block" href="#">Mission</a>

			</div>

			<div class="col-12 col-md-2 push-upper">

				<h3>Team</h3>
				<a class="d-block" href="#">Mission</a>
				<a class="d-block" href="#">Mission</a>
				<a class="d-block" href="#">Mission</a>

			</div>

		
		</div>
	</div>

</footer>