<!DOCTYPE html>
<html lang="en">
{% include head.html %}
{% include libraries.html %}

<body>

    {% include navbar.html %}
    
	<header class="h-100 w-100 text-white main-head">
		<div class="container-fluid h-100 w-100">
			<div class="row no-pad h-100 w-100">
				<div class="col visible-md">
				</div>

				<div class="col-12 col-md-6">
					<div class="container=fluid d-flex align-items-center justify-content-center w-100 h-100">
						<div class="card text-center" style="width: 75%;">
							<div class="card-body">
						    	<h1 class="card-title">Demystifying Entrepreneurship</h1>
						    	<p class="card-text">Supporting Text is an essential part of a website. This part is crucial to make the title 'Demystifying Entrepreneurship' click with an audience. Do not screw it up :)</p>
						  	</div>
						</div>
					</div>
				</div>
			</div>			
		</div>
	</header>

    {% include footer.html %}

</body>
</html>