<!DOCTYPE html>
<html lang="en">
{% include head.html %}
{% include libraries.html %}

<link rel="stylesheet" type="text/css" href="../css/home.css">

<body>
  {% include navbar.html %}
  <header class="w-100 main-head">
    <div class="container-fluid h-100 w-100">
      <div class="row h-100">

        <div class="col visible-md">
        </div>

        <div class="col-12 col-md-6 h-100 w-100">
          <div class="container-fluid d-flex align-items-center justify-content-center w-100 h-100">
            <div class="card text-center rounded-card card-width">
              <div class="card-body card-push-sides">
                <h1 class="card-title">Demystifying Entrepreneurship</h1>
                <p class="card-text">Supporting Text is an essential part of a website. This part is crucial to make the title 'Demystifying Entrepreneurship' click with an audience. Do not screw it up :)</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  {% include footer.html %}
</body>
</html>

