---
layout: page
---
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/incubatorworks.css">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/page.css">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/index.css">

<header class="w-100 h-100">
    <div class="container-fluid h-100">
        <div class="row h-100 jumbotron jumbotron-fluid main-head">
            <div class="col-xl-8 col-lg-8 col-md-9 col-12 h-100 w-100">
                <div class="container-fluid d-flex align-items-center justify-content-center w-100 h-100">
                    <div class="card text-center rounded-card card-width w-50 main-card">
                        <div class="card-body card-push-sides">
                            <img class="img-fluid" style="width: 50%"
                                src="/assets/imgs/logos/logo-ecell_iiith-orange.png">
                            <p class="lead clr">presents</p>
                            <h1 class="display-4 clr">{{ page.title }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class=" clr2 container p-5" id="about">
    <div class="row">
        <div class="col p-5 text-center">
            <h1 class="py-3 clr">What is Incubator Works?</h1>
        </div>
    </div>
    <div class="row">
        <div class=" clr col col-lg-8 col-md-10 col-xs-11 mx-auto text-justify">
            <p>
                <strong>A support line to reach CIE:</strong> If a student has an idea and wants to make a startup out of it, Incubator works acts as a student-driven mentoring system to tune your idea before you pitch in front of an actual incubator. We have come up with a pipeline where once a student with an idea approaches us, we help them connect to the right set of people from CIE and/or others from the ecosystem who can provide the student with necessary mentorship, while also providing our best help to the student in their initial days of their startup journey.
                <br><br>
            </p>
        </div>
    </div>
</div>

<script>
    ScrollReveal().reveal('.row', { delay: 200, easing: 'ease-in-out' });
    ScrollReveal().reveal('.para', { delay: 250, easing: 'ease-in-out' });
    ScrollReveal().reveal('.image', { delay: 300, easing: 'ease-in-out' });
    ScrollReveal().reveal('.main-head', { delay: 200, easing: 'ease-in-out' });
    ScrollReveal().reveal('.card', { delay: 250, easing: 'ease-in-out' });
    ScrollReveal().reveal('#testimonial-parent', { delay: 250, easing: 'ease-in-out' })

</script>