---
layout: page
---
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/summerup.css">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/page.css">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/index.css">

<header class="w-100 h-100">
    <div class="container-fluid h-100">
        <div class="row h-100 jumbotron jumbotron-fluid main-head">
            <div class="col-xl-8 col-lg-8 col-md-9 col-12 h-100 w-100">
                <div class="container-fluid d-flex align-items-center justify-content-center w-100 h-100">
                    <div class="card text-center rounded-card card-width w-50 main-card">
                        <div class="card-body card-push-sides">
                            <img class="img-fluid" style="width: 50%" src="/assets/imgs/logos/logo-ecell_iiith-orange.png">
                            <p class="lead clr">presents</p>
                            <h1 class="display-4 clr">{{ page.title }}</h1>
                            <hr class="my-5">
                            <a href="https://tinyurl.com/summerup1"
                             class="ca-link mx-auto my-2 w-75"
                                target="_blank" onclick="return false;">
                               Register Now!
                           </a>
                           <span class="red-text">Registration has Closed</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class=" clr2 container p-5" id="about">
    <div class="row">
        <div class="col p-5 text-center">
            <h1 class="py-3 clr">What is SummerUP?</h1>
        </div>
    </div>
    <div class="row">
        <div class=" clr col col-lg-8 col-md-10 col-xs-11 mx-auto text-justify">
            <p>
                There’s 104 days of summer vacation, and the lockdown has just messed it up. <br>
                So <strong>E-Cell, in collaboration with OSDG IIIT-H</strong>, has come up with a solution, our 50-day event called “SummerUp”!<br><br>
                
                Bring out your inner innovator and <strong>come up with a <span style="color:red"> project idea</span> which has the potential to solve a problem (and win prizes, of course!) and around which a sustainable startup can be built</strong>, <img src="{{ site.baseurl }}/assets/imgs/The_head.png" alt="head picture" class ="wrap-pic img-fluid "></img>
                the startup can be a profitable one or a social entrepreneurship based not for profit startup.Then in a 50 day period, implement the technologies related to it. Team up with as many friends as you want, there are no restrictions at all! (But keep in mind that you want to have a decent share of prize money per person.)
                <br><br>
                The main goal of this event is to help you see exactly how your idea can progress into a real world application and the amount of hard work required in order to bring it into reality. <strong>It’s okay if you haven’t got the technical skills to implement your ideas </strong>yet, that’s what this platform is for! With the help of our amazing <strong>mentors to guide you with the technical aspects,</strong> you’ll gain new skills and be able to get your hands dirty with them over the course of under two months.
                <br><br>
                <br><br><span style="font-weight:bolder">Intellectual property rights:</span>
                <br>E-Cell, OSDG or any representatives thereof do not claim any rights to the submissions of this competition. They are reserved with the respective teams making those submissions. 
            </p>
        </div>
    </div>
</div>
<div class=" clr2 container p-5" id="structure">
    <div class="row">
        <div class="col px-5 pt-0 pb-2 text-center">
            <h1 class="py-3 clr">Event Rules</h1>
        </div>
    </div>
    <div class="row">
        <div class=" clr col col-lg-8 col-md-10 col-xs-11 mx-auto text-justify">
            <p style="text-align: left;">
                <ul>
                <li>To help keep your creative juices flowing and that motivation drive running, there’ll be an <strong>evaluation at the end of 20 days</strong> that will help keep you on the right track. As your project evolves, we’ll be there every step of the way to help it transform into the best it can be!</li>
                <br><br>
                <li>At the end of our 50 day program, we would have the final evaluation and prizes will be awarded in three categories. </li>
                <br><br>
                <li>Teams would be required to present their idea which would be <strong>judged on 2 major factors -</strong> how well you’ve implemented the product and how feasible and sustainable your idea when it comes to “real world”.</li>
                <br>So go ahead, get started! We can’t wait to hear about your ideas, and get this event rolling!
            </p>
        </div>
    </div>
</div>

<div class="container pt-2 pb-5 my-4">
  <div class="row">
    <div class="col text-center">
      <h1>Prizes</h1>
    </div>
  </div>
</div>

<div class="container-fluid tiles-container col-sm-12 col-md-11">
    <div class="row tile-row tile-row-left row-megathon">
        <div class="para col-md-8 para-left pb-4">
            <h1 class="mx-5 mt-5 para-head mb-1">Overall Winner</h1>
            <h3 class="mx-5 mt-1 mb-5 para-head">Rs 10,000</h3>
            <p class="m-5 para-text">
                This prize goes to the most innovative idea, that was coupled with a solid, great implementation. 
            </p>
        </div>
    </div>

    <div class="row tile-row tile-row-right row-fail">
        <div class="para col-md-8 para-right pb-4">
            <h1 class="mx-5 mt-5 para-head mb-1">Best Technical Implementation</h1>
            <h3 class="mx-5 mt-1 mb-5 para-head">Rs 5,000</h3>
            <p class="m-5 para-text">
                This would be awarded to the greatest, most impressive implementation of an idea, even if the idea itself isn’t the most innovative or very sustainable.
            </p>
        </div>
    </div>

    <div class="row tile-row tile-row-left row-startup">
        <div class="para col-md-8 para-left pb-4">
            <h1 class="mx-5 mt-5 para-head mb-1">Best Idea</h1>
            <h3 class="mx-5 mt-1 mb-5 para-head">Rs 5,000</h3>
            <p class="m-5 para-text">
                The title would be won by a creative, original idea who possibly couldn’t be implemented in the best of ways ( possibly due to its complexity), but still wowed our judges.
            </p>
        </div>
    </div>
</div>
    <div class="container" id="contact">
        <div class="row">
            <div class="col p-5 text-center">
                <h1 class="py-3">FAQs</h1>
            </div>
        </div>
        <div class="row">
            {% for faq in site.data.summerup_faq %}
            <div class="col-12">
                <div class=" incentive-card faq-main-card card rounded-card mb-5 card-hover-medgreen">
                    <h3 class="px-2 m-2">
                        {{ faq.question }}
                    </h3>
                    <p class="p-2 m-2">
                    {{ faq.answer }}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
    <div class="my-5">&nbsp;</div>
    
    <div class="join-us">
        <h1 class="px-2 m-2">So, what are you waiting for?</h1>
        <a href="https://tinyurl.com/summerup1"
           class="ca-link w-75 mx-auto mt-5 mb-0"
           target="_blank" onclick="return false;">
            Register Now!
        </a>
        <span class="red-text my-0">Registration has Closed</span>
    </div>
    <script>
        ScrollReveal().reveal('.row',{delay:200,easing:'ease-in-out'});
        ScrollReveal().reveal('.para',{delay:250,easing:'ease-in-out'});
        ScrollReveal().reveal('.image',{delay:300,easing:'ease-in-out'});
        ScrollReveal().reveal('.main-head',{delay:200,easing:'ease-in-out'});
        ScrollReveal().reveal('.card',{delay:250,easing:'ease-in-out'});
        ScrollReveal().reveal('#testimonial-parent',{delay: 250, easing: 'ease-in-out'})
    
    </script>