---
layout: page
---
<link rel="stylesheet" type="text/css" href="../css/team.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script type="text/javascript" src="../js/team.js"></script>

<header class="w-100 h-75">
	<div class="container-fluid h-100 main-head">
		<div class="row h-100">
			<div class="col text-center d-flex align-items-center justify-content-center">
				<div class="container-fluid">
					<div class="row">
						<div class="col text-white">
							<h1>Team</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<div class="container py-5">
	<div class="row">
		<div class="col text-center">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sapien tellus, tincidunt ac nisi vel, varius tincidunt dolor. Nam scelerisque, arcu ac feugiat mattis, purus dolor placerat diam, quis vestibulum leo turpis id odio. Aliquam a ligula quis felis sollicitudin sagittis vulputate tempor lorem. Etiam sit amet ipsum vel sapien fermentum pulvinar. Vestibulum feugiat lorem eget diam efficitur, in vestibulum est sollicitudin. Morbi vestibulum, elit elementum bibendum commodo, mauris purus interdum purus, vitae tempor nisl odio sed sapien. Donec placerat vel est aliquam porttitor. Nullam sed ipsum in neque pulvinar sodales. Vivamus nec vestibulum arcu. Fusce suscipit sapien a dapibus convallis. Aliquam id sapien non elit malesuada pellentesque. Nulla porta risus non risus condimentum, in vestibulum nunc varius. Quisque ac vulputate libero, sit amet eleifend tortor. Donec vel auctor magna. Nunc quis quam sollicitudin, tincidunt erat at, convallis est. Nam sit amet dictum dui.
		</div>
	</div>
</div>

<div class="container py-5">
	<div class="row py-5">
		<div class="col text-center">
			<h1>Overall Coordinators</h1>
		</div>
	</div>
	<div class="row">
		<div class="col text-center">
			<figure class="figure">
				<img src="../assets/imgs/team/AishwaryaSrivastava_Head.png" class="figure-img rounded-circle palette-bg-grey head-img">
				 <figcaption class="figure-caption">Aishwarya Srivastava</figcaption>
			</figure>

			<figure class="figure">
				<img src="../assets/imgs/team/AyushShivani_Head.png" class=" figure-img rounded-circle palette-bg-red head-img">
				<figcaption class="figure-caption">Ayush Shivani</figcaption>
			</figure>
		</div>
	</div>
</div>

{% for team in site.data.team %}

<div class="container" id="{{team.team}}">
	<hr>
	<h1>{{ team.team }}</h1>

	<div class="container-fluid py-5">
		<div class="row">

			{% if team.multiple %}
			<div class="col-12 col-md-6 d-flex text-center justify-content-center align-items-center member">
				{% for head in team.heads %}
				<figure class="figure">
					<div class="tooltip-social">
						<img src="../assets/imgs/team/{{head.img}}" class="figure-img rounded-circle palette-bg-{{head.bg}} head-img" height="225">
						<div class="tooltip-content">
							<li class="list-inline-item"><a href="{{head.fb}}" target="_blank"><h3><i class="fab fa-facebook"></i></h3></a></li>
							<li class="list-inline-item"><a href="{{head.in}}" target="_blank"><h3><i class="fab fa-instagram"></i></h3></a></li>
							<li class="list-inline-item"><a href="mailto:{{head.mail}}" target="_blank"><h3><i class="fa fa-envelope"></i></h3></a></li>
							<li class="list-inline-item"><a href="tel:{{head.phone}}" target="_blank"><h3><i class="fa fa-phone"></i></h3></a></li>
						</div>
					</div>

					<figcaption class="figure-caption text-center">{{head.name}}</figcaption>
				</figure>


				<div style="padding-right: 10px;"></div>
				{% endfor %}
			</div>
			{% else %}
			<div class="col-12 col-md-5 d-flex text-center justify-content-center align-items-center member">
				{% for head in team.heads %}
				<figure class="figure">
					<div class="tooltip-social">
						<img src="../assets/imgs/team/{{head.img}}" class="figure-img rounded-circle palette-bg-{{head.bg}} head-img">
						<div class="tooltip-content">
							<li class="list-inline-item"><a href="{{head.fb}}" target="_blank"><h3><i class="fab fa-facebook"></i></h3></a></li>
							<li class="list-inline-item"><a href="{{head.in}}" target="_blank"><h3><i class="fab fa-instagram"></i></h3></a></li>
							<li class="list-inline-item"><a href="mailto:{{head.mail}}" target="_blank"><h3><i class="fa fa-envelope"></i></h3></a></li>
							<li class="list-inline-item"><a href="tel:{{head.phone}}" target="_blank"><h3><i class="fa fa-phone"></i></h3></a></li>
						</div>
					</div>
					<figcaption class="text-center">{{head.name}}</figcaption>
				</figure>
				{% endfor %}
			</div>
			{% endif %}

			<div class="col-12 col-md-6">
				<div class="py-4">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sapien tellus, tincidunt ac nisi vel, varius tincidunt dolor.
				</div>

				<div class="team-members">
					{% for member in team.members %}
						<div class="team-member">
							<img src="../assets/imgs/team/AbhigyanGhosh_Tech.png" class="rounded palette-bg-{{member.bg}} img-responsive member-img" alt="{{member.name}}"><br>
							<a href="#" class="text-muted">{{member.name}}</a>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>

{% endfor %}