---
layout: page
---
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/team.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/team.js"></script>

<header class="w-100 h-75">
	<div class="container-fluid h-100 main-head">
		<div class="row h-100">
			<div class="col text-center d-flex align-items-center justify-content-center">
				<div class="container-fluid">
					<div class="row">
						<div class="col text-white">
							<h1>Team</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<div class="container py-5">
	<div class="row">
		<div class="col text-justify">
			"Individual commitment to a group effort - that is what makes a team work, a company work, a society work, a
			civilization work."
		</div>
	</div>
	<div class="row">
		<div class="col text-right">
			- Vince Lombardi
		</div>
	</div>
</div>

{% for team in site.data.team %}
{%assign idUse = team.team %}
{% if team.id %}
{%assign idUse = team.id %}
{% endif %}
<div class=" algn container" id="{{idUse}}">
	<hr>
	<h1 class="pb-4 mb-4" style="text-align: center;">{{ team.team }}</h1>

	<div class="container-fluid mb-4 pb-4">
		<div class="row align-self-center" style="float: centre;">
			<div class=" py-0 my-0 col-12 col-md-6 d-flex text-center justify-content-center align-items-center member">
				{% for head in team.heads %}
				<div class="grid my-0 py-0">
					<figure class="effect-layla">
						<img src="{{ site.baseurl }}/assets/imgs/team/{{head.img}}">
						<figcaption>
							<h2>{{head.name}}</h2>
							{% if team.id != "overallcoord" %}
							<p><strong>Team Head</strong></p>
							{% else %}
							<br><br>
							{% endif %}
							<a class="focus" href="{{head.fb}}" target="_blank">
								<h3><i class="fab fa-facebook-f"></i></h3>
							</a>
							<a class="focus" href="{{head.in}}" target="_blank">
								<h3><i class="fab fa-linkedin"></i></h3>
							</a>
							<a class="focus" href="mailto:{{head.mail}}" target="_blank">
								<h3><i class="fa fa-envelope"></i></h3>
							</a>
							<a class="focus" href="tel:{{head.phone}}" target="_blank">
								<h3><i class="fa fa-phone"></i></h3>
							</a>
						</figcaption>
					</figure>
				</div>
				{% endfor %}
			</div>
			<br>
		</div>
		{% if team.id != "overallcoord" %}
		{% if team.team == "Events and Operations" %}
		<div class="row align-self-center py-0 my-0">
			<div class="col-12 col-md-6 py-0 my-0 d-flex text-center justify-content-center align-items-center member">
				{% for member in team.members %}
				{% if member.name == "Sai<br>Tanmay" %}
				</div>
				</div>
		<div class="row align-self-center py-0 my-0">
			<div class="col-12 py-0 my-0 col-md-6 d-flex text-center justify-content-center align-items-center member">
				<div class="grid">
					<figure class="effect-layla">
						<img src="{{ site.baseurl }}/assets/imgs/team/{{member.img}}">
						<figcaption>
							<h2>{{member.name}}</h2>
							<p><strong>Team Member</strong></p>
							<a class="focus" href="{{member.fb}}" target="_blank">
								<h3><i class="fab fa-facebook-f"></i></h3>
							</a>
							<a class="focus" href="{{member.in}}" target="_blank">
								<h3><i class="fab fa-linkedin"></i></h3>
							</a>
							<a class="focus" href="mailto:{{member.mail}}" target="_blank">
								<h3><i class="fa fa-envelope"></i></h3>
							</a>
							<a class="focus" href="tel:{{member.phone}}" target="_blank">
								<h3><i class="fa fa-phone"></i></h3>
							</a>
						</figcaption>
					</figure>
				</div>
				{% else %}
				<div class="grid">
					<figure class="effect-layla">
						<img src="{{ site.baseurl }}/assets/imgs/team/{{member.img}}">
						<figcaption>
							<h2>{{member.name}}</h2>
							<p><strong>Team Member</strong></p>
							<a class="focus" href="{{member.fb}}" target="_blank">
								<h3><i class="fab fa-facebook-f"></i></h3>
							</a>
							<a class="focus" href="{{member.in}}" target="_blank">
								<h3><i class="fab fa-linkedin"></i></h3>
							</a>
							<a class="focus" href="mailto:{{member.mail}}" target="_blank">
								<h3><i class="fa fa-envelope"></i></h3>
							</a>
							<a class="focus" href="tel:{{member.phone}}" target="_blank">
								<h3><i class="fa fa-phone"></i></h3>
							</a>
						</figcaption>
					</figure>
				</div>
				{% endif %}
				{% endfor %}
			</div>
		</div>
		{% else %}
		<div class="row align-self-center">
			<div class="col-12 col-md-6 d-flex text-center justify-content-center align-items-center member">
				{% for member in team.members %}
				<div class="grid">
					<figure class="effect-layla">
						<img src="{{ site.baseurl }}/assets/imgs/team/{{member.img}}">
						<figcaption>
							<h2>{{member.name}}</h2>
							<p><strong>Team Member</strong></p>
							<a class="focus" href="{{member.fb}}" target="_blank">
								<h3><i class="fab fa-facebook"></i></h3>
							</a>
							<a class="focus" href="{{member.in}}" target="_blank">
								<h3><i class="fab fa-linkedin"></i></h3>
							</a>
							<a class="focus" href="mailto:{{member.mail}}" target="_blank">
								<h3><i class="fa fa-envelope"></i></h3>
							</a>
							<a class="focus" href="tel:{{member.phone}}" target="_blank">
								<h3><i class="fa fa-phone"></i></h3>
							</a>
						</figcaption>
					</figure>
				</div>

				{% endfor %}
			</div>
		</div>
		{% endif %}
		{% endif %}
	</div>
</div>
</div>

{% endfor %}
<script>
	ScrollReveal().reveal('.member', { interval: 300, easing: 'ease-in-out' });
	ScrollReveal().reveal('.team-member', { interval: 300, easing: 'ease-in-out' });
</script>